{% extends "core/base.html" %}
{% load static %}

{% block title %}Ask | RUHAH{% endblock %}

{% block page-header %}
    Ask
{% endblock %}

{% block content %}

{% if form.errors %}
<p style="color: red;">Please complete the size fields</p>
{% endif %}

<div style="border: 1px solid black; padding: 15px; border-radius: 20px;">
    <!-- FIT FORM -->
    <div id="fitForm">
        <form method="post" class="ticket-form" action="{% url 'box:ticket_form' %}">
            {% csrf_token %}
            {{ fit_form.style1.label_tag }} {{ fit_form.style1 }}<br>
            {% if user.is_authenticated %}
                {{ fit_form.stylist_type.label_tag }} {{ fit_form.stylist_type }}<br>
            {% endif %}
            <!-- {{ fit_form.catalogue.label_tag }} {{ fit_form.catalogue }}<br> -->
            <br>
            {{ fit_form.notes.label_tag }} <br> {{ fit_form.notes }}<br>
            <br>
            {% if user.is_authenticated %}
                <button type="submit" name="fit_form">Submit Outfit Ask</button>
            {% else %}
                <button type="submit" name="fit_form" disabled>Login to Submit</button>
            {% endif %}
        </form>
    </div>

    {% if form.errors %}
        <p style="color: red;">Please complete the size fields</p>
        {{ form.non_field_errors }}
        {% for field in form %}
            {% if field.errors %}
                {{ field.errors }}
            {% endif %}
        {% endfor %}
    {% endif %}
</div>

{% comment %}
<!-- Commented out BOX FORM and related elements -->
<div class="tab-container">
    <a class="tab-link active-tab" id="fitTab" onclick="showFitForm()">OUTFIT</a>
    <a class="tab-link" id="boxTab" onclick="showBoxForm()">BOX</a>
</div>

<div id="boxForm" style="display: none;">
    <form method="post" class="ticket-form" action="{% url 'box:ticket_form' %}">
        {% csrf_token %}
        {{ box_form.style1.label_tag }} {{ box_form.style1 }}<br>
        {% if user.is_authenticated %}
            <!-- {{ box_form.stylist_type.label_tag }} {{ box_form.stylist_type }}<br> -->
            {{ box_form.curated_by.label_tag }} {{ box_form.curated_by }}<br>
        {% endif %}
        <!-- {{ box_form.catalogue.label_tag }} {{ box_form.catalogue }}<br> -->
        <!-- {{ box_form.condition.label_tag }} {{ box_form.condition }}<br> -->
        <!-- {{ box_form.price.label_tag }} {{ box_form.price }}<br> -->
        <br>
        {{ box_form.notes.label_tag }} <br> {{ box_form.notes }}<br>
        <br>
        {% if user.is_authenticated %}
            {% if not user.customer.top_size_xyz or not user.customer.bottom_size_xyz or not user.customer.size_waist_inches or not user.customer.shoe_size_eu or not user.customer.shoe_size_uk %}
                {% if not user.customer.top_size_xyz %}
                    {{ box_form.size_top_xyz.label_tag }} {{ box_form.size_top_xyz }}<br>
                {% endif %}
                {% if not user.customer.bottom_size_xyz %}
                    {{ box_form.size_bottom_xyz.label_tag }} {{ box_form.size_bottom_xyz }}<br>
                {% endif %}
                {% if not user.customer.size_waist_inches %}
                    {{ box_form.size_waist_inches.label_tag }} {{ box_form.size_waist_inches }}<br>
                {% endif %}
                {% if not user.customer.shoe_size_eu %}
                    {{ box_form.size_shoe_eu.label_tag }} {{ box_form.size_shoe_eu }}<br>
                {% endif %}
                {% if not user.customer.shoe_size_uk %}
                    {{ box_form.size_shoe_uk.label_tag }} {{ box_form.size_shoe_uk }}<br>
                {% endif %}
                <br>
            {% endif %}
        {% else %}
            {{ box_form.size_top_xyz.label_tag }} {{ box_form.size_top_xyz }}<br>
            {{ box_form.size_bottom_xyz.label_tag }} {{ box_form.size_bottom_xyz }}<br>
            {{ box_form.size_waist_inches.label_tag }} {{ box_form.size_waist_inches }}<br>
            {{ box_form.size_shoe_eu.label_tag }} {{ box_form.size_shoe_eu }}<br>
            {{ box_form.size_shoe_uk.label_tag }} {{ box_form.size_shoe_uk }}<br>
            <br>
        {% endif %}
        <button type="submit" name="box_form">Proceed to Order Box</button>
    </form>
</div>

<script>
    function showFitForm() {
        document.getElementById('fitForm').style.display = 'block';
        document.getElementById('boxForm').style.display = 'none';
        document.getElementById('fitTab').classList.add('active-tab');
        document.getElementById('boxTab').classList.remove('active-tab');
    }

    function showBoxForm() {
        document.getElementById('fitForm').style.display = 'none';
        document.getElementById('boxForm').style.display = 'block';
        document.getElementById('boxTab').classList.add('active-tab');
        document.getElementById('fitTab').classList.remove('active-tab');
    }
</script>

<style>
    .tab-container {
        display: flex;
        justify-content: space-around;
        width: 100%;
        margin-bottom: 15px;
    }

    .tab-link {
        padding: 0px;
        text-decoration: none;
        color: #000;
        cursor: pointer;
        flex: 1;
        text-align: center;
    }

    .active-tab {
        font-weight: initial;
        font-weight: 600;
    }

    .content-box {
        width: 100%;
        padding: 15px;
        box-sizing: border-box;
    }
</style>
{% endcomment %}

{% endblock %}