{% extends "core/base.html" %}

{% load static %}

{% block page-header %}
    Box
{% endblock %}

{% block content %}

{% if form.errors %}
<p style="color: red;">Please complete the size fields</p>
{% endif %}

<div style="border: 1px solid black; padding: 15px; margin: 20px 0;">


    {% if user.is_authenticated %}
        {% if not user.customer.top_size_xyz or not user.customer.bottom_size_xyz or not user.customer.size_waist_inches or not user.customer.shoe_size_eu or not user.customer.shoe_size_uk %}
        <form method="post" class="ticket-form">
            {% csrf_token %}
            {{ form.style1.label_tag }} {{ form.style1 }}<br>
            {{ form.condition.label_tag }} {{ form.condition }}<br>
            {{ form.price.label_tag }} {{ form.price }}<br>
            {{ form.type.label_tag }} {{ form.type }}<br>
            <br>
            {{ form.notes.label_tag }} {{ form.notes }}<br>
            <br>
            {% if not user.customer.top_size_xyz %}
            {{ form.size_top_xyz.label_tag }} {{ form.size_top_xyz }}<br>
            {% endif %}
            {% if not user.customer.bottom_size_xyz %}
            {{ form.size_bottom_xyz.label_tag }} {{ form.size_bottom_xyz }}<br>
            {% endif %}
            {% if not user.customer.size_waist_inches %}
            {{ form.size_waist_inches.label_tag }} {{ form.size_waist_inches }}<br>
            {% endif %}
            {% if not user.customer.shoe_size_eu %}
            {{ form.size_shoe_eu.label_tag }} {{ form.size_shoe_eu }}<br>
            {% endif %}
            {% if not user.customer.shoe_size_uk %}
            {{ form.size_shoe_uk.label_tag }} {{ form.size_shoe_uk }}<br>
            {% endif %}
            <br>
            <button style='align-items: center; justify-content: center;' type="submit">Proceed</button>
        </form>
        {% else %}
        <form method="post" class="ticket-form">
            {% csrf_token %}
            {{ form.style1.label_tag }} {{ form.style1 }}<br>
            {{ form.condition.label_tag }} {{ form.condition }}<br>
            {{ form.price.label_tag }} {{ form.price }}<br>
            {{ form.type.label_tag }} {{ form.type }}<br>
            <br>
            {{ form.notes.label_tag }} {{ form.notes }}<br>
            <br>
            <button style='align-items: center; justify-content: center;' type="submit">Proceed</button>
        </form>
        {% endif %}
    {% else %}
    <form method="post" class="ticket-form">
        {% csrf_token %}
        {{ form.style1.label_tag }} {{ form.style1 }}<br>
        {{ form.condition.label_tag }} {{ form.condition }}<br>
        {{ form.price.label_tag }} {{ form.price }}<br>
        {{ form.type.label_tag }} {{ form.type }}<br>
        <br>
        {{ form.notes.label_tag }} {{ form.notes }}<br>
        <br>
        {{ form.size_top_xyz.label_tag }} {{ form.size_top_xyz }}<br>
        {{ form.size_bottom_xyz.label_tag }} {{ form.size_bottom_xyz }}<br>
        {{ form.size_waist_inches.label_tag }} {{ form.size_waist_inches }}<br>
        {{ form.size_shoe_eu.label_tag }} {{ form.size_shoe_eu }}<br>
        {{ form.size_shoe_uk.label_tag }} {{ form.size_shoe_uk }}<br>
        <br>
        <button style='align-items: center; justify-content: center;' type="submit">Proceed</button>
    </form>
    {% endif %}

    {% if form.errors %}
    <p style="color: red;">Please complete the size fields</p>
    {{ form.non_field_errors }}
    {% for field in form %}
        {% if field.errors %}
        {{ field.errors }}
        {% endif %}
    {% endfor %}
    {% endif %}
</div>

{% endblock %}
