{% extends "core/base.html" %}
{% load static %}

{% block page-header %}
    Ask
{% endblock %}

{% block content %}

{% if form.errors %}
<p style="color: red;">Please complete the size fields</p>
{% endif %}


<div style="border: 1px solid black; padding: 15px;">

    <div class="tab-container">
        <a class="tab-link active-tab" id="fitTab" onclick="showFitForm()">FIT</a>
        <a class="tab-link" id="boxTab" onclick="showBoxForm()">BOX</a>
    </div>

    <!-- FIT FORM -->
    <div id="fitForm" style="display: block;">
        <form method="post" action="{% url 'box:ticket_form' %}">
            {% csrf_token %}
            {{ fit_form.style1.label_tag }} {{ fit_form.style1 }}<br>
            {{ fit_form.filter_liked.label_tag }} {{ fit_form.filter_liked }}<br>
            <br>
            {{ fit_form.notes.label_tag }} <br> {{ fit_form.notes }}<br>
            <br>
            <button type="submit" name="fit_form">Submit</button>
        </form>
    </div>

    <!-- BOX FORM -->
    <div id="boxForm" style="display: none;">
        <form method="post" action="{% url 'box:ticket_form' %}">
            {% csrf_token %}
            {{ box_form.style1.label_tag }} {{ box_form.style1 }}<br>
            {{ box_form.condition.label_tag }} {{ box_form.condition }}<br>
            {{ box_form.price.label_tag }} {{ box_form.price }}<br>
            {{ box_form.filter_liked.label_tag }} {{ box_form.filter_liked }}<br>
            <br>
            {{ box_form.notes.label_tag }} <br> {{ box_form.notes }}<br>
            <br>
            {% if user.is_authenticated %}
                {% if not user.customer.top_size_xyz or not user.customer.bottom_size_xyz or not user.customer.size_waist_inches or not user.customer.shoe_size_eu or not user.customer.shoe_size_uk %}
                    {% if not user.customer.top_size_xyz %}
                        {{ box_form.size_top_xyz.label_tag }} {{ box_form.size_top_xyz }}<br>
                    {% endif %}
                    {% if not user.customer.bottom_size_xyz %}
                        {{ box_form.size_bottom_xyz.label_tag }} {{ box_form.size_bottom_xyz }}<br>
                    {% endif %}
                    {% if not user.customer.size_waist_inches %}
                        {{ box_form.size_waist_inches.label_tag }} {{ box_form.size_waist_inches }}<br>
                    {% endif %}
                    {% if not user.customer.shoe_size_eu %}
                        {{ box_form.size_shoe_eu.label_tag }} {{ box_form.size_shoe_eu }}<br>
                    {% endif %}
                    {% if not user.customer.shoe_size_uk %}
                        {{ box_form.size_shoe_uk.label_tag }} {{ box_form.size_shoe_uk }}<br>
                    {% endif %}
                {% endif %}
            {% else %}
                {{ box_form.size_top_xyz.label_tag }} {{ box_form.size_top_xyz }}<br>
                {{ box_form.size_bottom_xyz.label_tag }} {{ box_form.size_bottom_xyz }}<br>
                {{ box_form.size_waist_inches.label_tag }} {{ box_form.size_waist_inches }}<br>
                {{ box_form.size_shoe_eu.label_tag }} {{ box_form.size_shoe_eu }}<br>
                {{ box_form.size_shoe_uk.label_tag }} {{ box_form.size_shoe_uk }}<br>
            {% endif %}
            <!-- Additional fields specific to AskBoxForm -->
            {{ box_form.extra_field.label_tag }} {{ box_form.extra_field }}<br>
            <br>
            <button type="submit" name="box_form">Proceed</button>
        </form>
    </div>

    {% if form.errors %}
        <p style="color: red;">Please complete the size fields</p>
        {{ form.non_field_errors }}
        {% for field in form %}
            {% if field.errors %}
                {{ field.errors }}
            {% endif %}
        {% endfor %}
    {% endif %}

</div>




<script>
    function showFitForm() {
        document.getElementById('fitForm').style.display = 'block';
        document.getElementById('boxForm').style.display = 'none';
        document.getElementById('fitTab').classList.add('active-tab');
        document.getElementById('boxTab').classList.remove('active-tab');
    }

    function showBoxForm() {
        document.getElementById('fitForm').style.display = 'none';
        document.getElementById('boxForm').style.display = 'block';
        document.getElementById('boxTab').classList.add('active-tab');
        document.getElementById('fitTab').classList.remove('active-tab');
    }
</script>

<style>

.tab-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    border-bottom: 2px solid black;
}

.tab-link {
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    color: #000; /* Change to your preferred color */
    cursor: pointer;
    flex: 1;
    text-align: center;
}

.active-tab {
    border-bottom: 2px solid black;
}

.content-box {
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    border: 1px solid black;
}


</style>



{% endblock %}
