{% extends "core/base.html" %}
{% load custom_filters %}

{% block page-header %}
  User Profile
{% endblock %}

{% block content %}

<div id="profile-menu-content" style="display: flex; width: 100%; margin-top: -10px;">

    <!-- Navigation Menu -->
    <div id="profile-menu" style="width: 15%; font-family: 'Poppins', sans-serif; font-weight: 200;">
        <a href="#" onclick="showContent('user', 'Profile > Data')" style="/*text-decoration-line: underline; color: blue;*/">DATA</a>
        <a href="#" onclick="showContent('customer', 'Profile > Sizes')" style=" /*color: blue;*/">SIZES</a>
        <br>
        <a href="#likes" onclick="showContent('likes', 'Profile > Likes')" style="/*color: blue;*/">LIKES</a>
        <a href="#asks" onclick="showContent('asks', 'Profile > Asks')" style="/*color: blue;*/">ASKS</a>
        <a href="#grid" onclick="showContent('grid', 'Profile > Grid')" style="/*color: blue;*/">GRID</a>
        <!-- <a href="#upload" onclick="showContent('upload', 'Profile > Upload')" style="/*color: blue;*/">UPLOAD</a> -->
        <br>
        <a href="#settings" onclick="showContent('settings', 'Profile > Settings')" style="/*color: blue;*/">STTNGS</a>
        <br>
        <form method="post" action="{% url 'accounts:logout' %}" style="/*display: inline;*/">
        {% csrf_token %}
        <button type="submit" class="nav-link logout-button">LOGOUT</button>
        </form>
    </div>

    <!-- Content Area -->
    <div id="content" style="width: 70%; padding-left: 5px; margin-top: -16px; text-align: left; display: flex; align-items: flex-start;">
        <!-- Default Welcome Message -->
        <div id="default" class="content-section" style="display: block; margin-top: 40px;">
            {% include "accounts/public_profile_content.html" with profile_user=user is_own_profile=True is_following=False %}
        </div>





        <!-- User Profile Section -->
        <div id="user" class="content-section" style="display: none; padding-top:9px;">
            {% if editing %}
                <form method="post" action="{% url 'accounts:profile' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <p style="margin-top: 7px; text-align: left;">
                        Username: @{{ user_form.username }}<br>
                        Email: {{ user_form.email }}<br>
                        <br>
                        <label for="id_pfp">Profile Picture: </label>
                        <input type="file" name="pfp" id="id_pfp"><br><br>
                        Bio: {{ user_form.bio }}<br>
                        <br>
                        Credits: {{ user.credits }}<br>
                        <br>
                        {% if invite_codes %}
                            <div>
                                <strong>Invite Codes:</strong><br>
                                {% for invite_code in invite_codes %}
                                    ({{ invite_code.invite_code }})<br>
                                {% endfor %}
                            </div>
                        {% endif %}
                        <br>
                        <br>
                    </p>
                    <input type="hidden" name="user_form" value="user_form">
                    <button type="submit">Save changes</button>
                </form>
            {% else %}
                <p style="margin-top: 7px; text-align: left;">
                    Username: @<span style="color: grey;">{{ user.username }}</span><br>
                    Email: <span style="color: grey;">{{ user.email }}</span><br>
                    <br>
                    Profile Picture: <span style="color: grey;">{{ user.pfp.url|filename }}</span><br>
                    <br>
                    Bio: <span style="color: grey;">{{ user.bio }}</span><br>
                    <br>
                    Credits: {{ user.credits }}<br>
                    <br>
                    {% if invite_codes %}
                        <div>
                            <strong>Invite Codes:</strong><br>
                            {% for invite_code in invite_codes %}
                                ({{ invite_code.invite_code }})<br>
                            {% endfor %}
                        </div>
                    {% endif %}
                    <br>
                    <br>
                </p>
                <form method="get" action="{% url 'accounts:profile' %}">
                    <input type="hidden" name="edit" value="user">
                    <button type="submit" name="edit" value="true">Edit</button>
                </form>
            {% endif %}
        </div>








        <!-- Customer Profile Section -->
        <div id="customer" class="content-section" style="display: none;">
            {% if editing %}
                <form method="post" action="{% url 'accounts:profile' %}">
                    {% csrf_token %}
                    <p>
                        Top: {{ customer_form.top_size_xyz }}<br>
                        Bottom: {{ customer_form.bottom_size_xyz }}<br>
                        Waist (inches): {{ customer_form.size_waist_inches }}<br>
                        Shoe (EU): {{ customer_form.shoe_size_eu }}<br>
                        Shoe (UK): {{ customer_form.shoe_size_uk }}<br>
                        <br>
                        {{ customer_form.height.label_tag }} {{ customer_form.height }}<br>
                        {{ customer_form.weight.label_tag }} {{ customer_form.weight }}<br>
                    </p>
                    <input type="hidden" name="customer_form" value="customer_form">
                    <button type="submit">Save changes</button>
                </form>
            {% else %}
                <p style="margin-top: 15px;">
                    Top: <span style="color: grey;">{{ user.customer.top_size_xyz }}</span><br>
                    Bottom: <span style="color: grey;">{{ user.customer.bottom_size_xyz }}</span><br>
                    Waist (inches): <span style="color: grey;">{{ user.customer.size_waist_inches }}</span><br>
                    Shoe (EU): <span style="color: grey;">{{ user.customer.shoe_size_eu }}</span><br>
                    Shoe (UK): <span style="color: grey;">{{ user.customer.shoe_size_uk }}</span><br>
                    <br>
                    Height: <span style="color: grey;">{{ user.customer.height }}</span> cm<br>
                    Weight: <span style="color: grey;">{{ user.customer.weight }}</span> kg<br>
                </p>
                <form method="get" action="{% url 'accounts:profile' %}">
                    <input type="hidden" name="edit" value="customer">
                    <button type="submit" name="edit" value="true">Edit</button>
                </form>
            {% endif %}
        </div>







        <!-- Likes Profile Section -->
        <div id="likes" class="content-section" style="display: none; padding-top: 15px;">
            <div id="contBBB">
                {% for like in user_likes %}
                    <div class="contAAA" id="like-{{ like.id }}">
                        <img src="{{ like.item.image.url }}" alt="Liked Item Image">
                        <form action="{% url 'accounts:remove_like' like.id %}?next={% url 'accounts:profile' %}#likes" method="POST">
                            {% csrf_token %}
                            <button type="submit" class="link-style">Remove</button>
                        </form>
                    </div>
                {% endfor %}
            </div>
        </div>


    {% comment %}         LIKES SECTION GRID V        {% endcomment %}

<style>
    #contBBB {
        display: grid;
        grid-template-columns: repeat(4, 1fr); /* 4 columns in desktop */
        grid-gap: 2px;
        border: 0px solid black; /* Border around the entire container */
        margin: 0 0px; /* extra margins on the left and right (exei hdh 20px apo body) */
    }

    .contAAA {
        display: flex;
        flex-direction: column; /* Image on top, link on bottom */
        border: 1px solid black; /* Thin borders as specified, like regular table lines */
    }

    .contAAA img {
        width: 100%;
        height: auto;
        flex-grow: 1; /* Image takes up the available space */
    }

    .contAAA form {
        text-align: center;
        padding: 5px;
        background: white;
        border-top: 1px solid black; /* Thin border between image and link */
        display: block;
    }

    .contAAA form button {
        background: none;
        border: none;
        color: blue;
        color: black;
        /*text-decoration: underline;*/
        cursor: pointer;
        display: block;
        text-align: center;
        padding: 5px; /* Adjust padding to match 'Remove' link */
        width: 100%;
        font-family: inherit; /* Inherit the font family from parent elements */
        font-size: inherit; /* Optionally ensure the font size is also inherited */
        font-weight:400;
    }

    @media (max-width: 768px) {
        #contBBB {
            grid-template-columns: repeat(2, 1fr); /* 2 columns in mobile */
        }
    }
</style>

























        <!-- Asks Profile Section -->
        <div id="asks" class="content-section" style="display: none; padding-top: 15px; width: 100%">
            <div id="contBBBB">
                {% for ticket in user_tickets %}
                    <div class="contAAAA" id="ask-{{ ticket.id }}">
                        <div class="toggle" onclick="toggleImage(this)">
                            {% if ticket.outfit1 %}
                                <img src="{{ ticket.outfit1.image.url }}" alt="Outfit Image" class="outfit-image" style="display: block;">
                                <div class="contNOTE" style="display: none;">
                                    <p>
                                        <!-- {{ ticket.style1 }}
                                        <br><br>-->
                                        {{ ticket.notes }}
                                        {% if ticket.outfit1 %}
                                            <br><br>
                                            Styled by: {{ ticket.outfit1.maker_id }}
                                        {% endif %}
                                    </p>
                                </div>
                            {% else %}
                                <div class="contNOTE" style="display: block;">
                                    <p>
                                        <!-- {{ ticket.style1 }}
                                        <br><br>-->
                                        {{ ticket.notes }}
                                        {% if ticket.outfit1 %}
                                            <br><br>
                                            Styled by: {{ ticket.outfit1.maker_id }}
                                        {% endif %}
                                    </p>
                                </div>
                            {% endif %}
                        </div>
                        <div class="contLLRR">
                            <div class="LLRR-button-container">
                            <form action="{% url 'accounts:remove_ask' ticket.id %}?next={% url 'accounts:profile' %}#asks" method="POST">
                                {% csrf_token %}
                                <button type="submit" class="link-style">Remove</button>
                            </form>
                            </div>
                            <div class="LLRR-button-container">
                                {% if ticket.outfit1 %}
                                    <form>
                                        <button type="button" class="link-style">Order Box</button>
                                    </form>
                                {% else %}
                                    <form>
                                        <button type="button" class="link-style">Preparing</button>
                                    </form>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

<script>
    function toggleImage(element) {
        const outfitImage = element.querySelector('.outfit-image');
        const note = element.querySelector('.contNOTE');

        if (outfitImage.style.display === 'none') {
            outfitImage.style.display = 'block';
            note.style.display = 'none';
        } else {
            outfitImage.style.display = 'none';
            note.style.display = 'block';
        }
    }
</script>

<style>
    #contBBBB {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2px;
        border: 0px solid black;
        margin: 0 0px;
        width: 100%; /* VASIKA GIA NA DOULEPSEI EVALA 100% MESA STO <div id="asks" class="content-section" */
        grid-template-columns: repeat(2, minmax(0, 1fr)); /* Ensure columns take equal width */
    }

    .contAAAA {
        display: flex;
        flex-direction: column;
        border: 1px solid black;
    }

    .contAAAA img, .contAAAA .contNOTE {
        width: 100%;
        height: auto;
        flex-grow: 1;
    }


    .contAAAA form {
        text-align: center;
        padding: 5px;
        background: white;
        border-top: 1px solid black; /* Thin border between image and link */
        display: block;
    }

    .contAAAA form button {
        background: none;
        border: none;
        color: blue;
        color: black;
        /*text-decoration: underline;*/
        cursor: pointer;
        display: block;
        text-align: center;
        padding: 5px; /* Adjust padding to match 'Remove' link */
        width: 100%;
        font-family: inherit; /* Inherit the font family from parent elements */
        font-size: inherit; /* Optionally ensure the font size is also inherited */
        font-weight:400;
    }

    .LLRR-button-container {
        flex: 1;
        display: flex;
        justify-content: center;
    }
    .LLRR-button-container form,
    .LLRR-button-container button {
        width: 100%;
    }



    .contLLRR {
        display: flex;
        justify-content: space-between;
        margin-top: auto; /* Pushes the container to the bottom */
    }

    .contLLRR .link-style {
        background: none;
        border: none;
        color: blue;
        color: black;
        cursor: pointer;
        padding: 5px;
        text-align: center;
        width: 100%;

        flex: 1;
        display: flex;
        justify-content: center;
    }


    .contNOTE {
        width: 100%; /* afto kai to epomeno paketo etsi xwris height */
        padding-top: 100%; /* This makes the height equal to the width, maintaining a square aspect ratio */
        position: relative; /* To position the content inside */
    }

    .contNOTE p {
        width: 80%; /* afto einai pou gemizei to keno deksia aristera */
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: 0;
        text-align: center;
        max-width: 90%; /* Adjust this value to control the width of the text block */
        min-width: 50%
        max-height: 90%;
        word-wrap: break-word; /* Ensure long words are wrapped */
    }



    @media (max-width: 768px) {
        #contBBBB {
            grid-template-columns: 1fr;
        }

        .contAAAA img {
            margin-bottom: 0px;
        }
    }
</style>















        <!-- Cart Profile Section -->
        <div id="cart" class="content-section" style="display: none;">
            <p style="margin-top: 15px; text-align: left;">
                Empty
            </p>
        </div>
















        <!-- Add this section for Grid Profile Section -->
        <div id="grid" class="content-section" style="display: none; padding-top: 15px;">
            <div id="contBBBBB">
                {% for outfit in user.outfit_set.all %}
                    {% if outfit.maker_grid_visibility == 'show' %}
                        <div class="contAAAAA" id="outfit-{{ outfit.id }}">
                            {% if 'default_img.jpg' not in outfit.portrait.url %}
                                <img src="{{ outfit.portrait.url }}" alt="Outfit Portrait" class="portrait" style="display: block;">
                            {% endif %}
                            <img src="{{ outfit.image.url }}" alt="Outfit Image" class="image" style="display: {% if 'default_img.jpg' in outfit.portrait.url %}block{% else %}none{% endif %};">
                            <form action="{% url 'accounts:remove_outfit' outfit.id %}?next={% url 'accounts:profile' %}#grid" method="POST">
                                {% csrf_token %}
                                <button type="submit" class="link-style">Remove</button>
                            </form>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>

<style>

    #contBBBBB {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns in desktop */
    grid-gap: 2px;
    border: 0px solid black; /* Border around the entire container */
    margin: 0 0px; /* extra margins on the left and right (exei hdh 20px apo body) */
}

.contAAAAA {
    display: flex;
    flex-direction: column; /* Image on top, link on bottom */
    border: 1px solid black; /* Thin borders as specified, like regular table lines */
}

.contAAAAA img {
    width: 100%;
    height: auto;
    flex-grow: 1; /* Image takes up the available space */
}

.contAAAAA form {
    text-align: center;
    padding: 5px;
    background: white;
    border-top: 1px solid black; /* Thin border between image and link */
    display: block;
}

.contAAAAA form button {
    background: none;
    border: none;
    color: blue;
    color: black;
    cursor: pointer;
    display: block;
    text-align: center;
    padding: 5px; /* Adjust padding to match 'Remove' link */
    width: 100%;
    font-family: inherit; /* Inherit the font family from parent elements */
    font-size: inherit; /* Optionally ensure the font size is also inherited */
    font-weight:400;
}

@media (max-width: 768px) {
    #contBBBBB {
        grid-template-columns: 1fr; /* 1 column in mobile */
    }
}

</style>
















        <!-- Upload Profile Section -->
        <div id="upload" class="content-section" style="display: none;">
            <p style="margin-top: 15px; text-align: left;">
                Images uploaded here<br>
                appear on your grid.<br>
                <br>
                Please allow<br>
                some time for review.<br>
                <br>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ portrait_upload_form.as_p }}
                    <button type="submit" name="portrait_upload_form">Submit</button>
                </form>
            </p>
        </div>










        <!-- Settings Section -->
        <div id="settings" class="content-section" style="display: none;">
            {% if editing_settings %}
                <form method="post" action="{% url 'accounts:profile' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <p style="margin-top: 15px; text-align: left;">
                        <label for="id_profile_visibility">Profile Visibility:</label>
                        {{ profile_settings_form.profile_visibility }}<br><br>

                        <label for="id_trending_styles">Trending Styles:</label>
                        <div style="display: grid; grid-template-columns: repeat(2, 1fr); gap: 10px;">
                            {% for style in available_styles %}
                                <label>
                                    <input type="checkbox" name="trending_styles" value="{{ style.id }}"
                                        {% if style in user_trending_styles %} checked{% endif %}>
                                    {{ style.style_name }}
                                </label>
                            {% endfor %}
                        </div><br>

                        <label for="id_trending_mode">Trending Mode:</label>
                        {{ profile_settings_form.trending_mode }}<br><br>

                        <label for="id_studio_visibility">Studio Visibility:</label>
                        {{ profile_settings_form.studio_visibility }}<br><br>

                        <label for="id_studio_styles">Studio Styles:</label><br><br>
                        <div style="display: grid; grid-template-columns: repeat(2, 1fr); gap: 10px;">
                            {% for style in available_styles %}
                                <label>
                                    <input type="checkbox" name="studio_styles" value="{{ style.id }}"
                                        {% if style in user_studio_styles %} checked{% endif %}>
                                    {{ style.style_name }}
                                </label>
                            {% endfor %}
                        </div><br>

                        <!-- Add more fields here if needed -->
                    </p>
                    <input type="hidden" name="profile_settings_form" value="profile_settings_form">
                    <button type="submit">Save changes</button>
                </form>
            {% else %}
                <p style="margin-top: 15px; text-align: left;">
                    Profile Visibility: <span style="color: grey;">{{ user.get_profile_visibility_display }}</span><br><br>
                    Trending Styles:
                    <span style="color: grey;">
                    {% for style in user_trending_styles %}
                        {{ style.style_name }}{% if not forloop.last %} {% endif %}
                    {% endfor %}</span><br><br>
                    Trending Mode:</span> <span style="color: grey;">{{ user.get_trending_mode_display }}</span><br><br>
                    Studio Visibility:</span> <span style="color: grey;">{{ user.get_studio_visibility_display }}</span><br><br>
                    Studio Styles:</span>
                    <span style="color: grey;">
                    {% for style in user_studio_styles %}
                        {{ style.style_name }}{% if not forloop.last %} {% endif %}
                    {% endfor %}</span><br><br>
                    <!-- Add more fields here if needed -->
                </p>
                <form method="get" action="{% url 'accounts:profile' %}">
                    <input type="hidden" name="edit_settings" value="true">
                    <button type="submit" name="edit_settings" value="true">Edit</button>
                </form>
            {% endif %}
        </div>


    </div>

    <div id="empty-area" style="width: 15%;">
    </div>
</div>












<script>
    document.addEventListener("DOMContentLoaded", function() {
        const urlParams = new URLSearchParams(window.location.search);
        const editSection = urlParams.get('edit');
        const editSettings = urlParams.get('edit_settings');

        // Check for the URL fragment (hash)
        const urlHash = window.location.hash;

        if (editSection) {
            showContent(editSection, `Profile > ${editSection.charAt(0).toUpperCase() + editSection.slice(1)}`);
        } else if (editSettings) {
            showContent('settings', 'Profile > Settings');
        } else if (urlHash) {
            const sectionId = urlHash.substring(1);  // Remove the '#' from the hash
            showContent(sectionId, `Profile > ${sectionId.charAt(0).toUpperCase() + sectionId.slice(1)}`);

           // window.scrollTo(0, 0); // // Scroll to the very top after showing the content
           // history.replaceState(null, null, ' '); // Remove the hash from the URL

        } else {
            showContent('user', 'Profile > User'); // Default section
        }
    });

    function showContent(sectionId, headerText) {
        var sections = document.querySelectorAll('.content-section');
        sections.forEach(function(section) {
            section.style.display = 'none';
        });
        var section = document.getElementById(sectionId);
        if (section) {
            section.style.display = 'block';

            document.getElementById('page-header').textContent = headerText;

            // Scroll to the top of the section when clicking links
            setTimeout(function() {
                window.scrollTo(0, 0);
            }, 3); // to 1 einai pou to phgainei paaaanw panw kai oxi sto #likes
        }
    }

    document.addEventListener('click', function(event) {
        if (event.target.matches('.link-style')) { // Adjust the selector to match your remove button
            shouldScrollToTop = false;
        }
    });
</script>














<style>
    #profile-menu a {
        display: block;
        margin-bottom: 5px; /* Ensure each link is on its own line */
        text-align: left;
    }

    @media (max-width: 768px) {
        #empty-area {
            width: 5% !important;
        }

        #profile-menu {
            width: 15%;
            flex-direction: row;
            overflow-x: auto;
            margin-right: 15px;
            padding-right: 17px;
            margin-top: 0px;
        }
        #profile-menu a {
            flex: 1;
            border-bottom: none;
        }
        #content {
            width: 100%;
            padding-left: 0px;
            margin-top: 0;
        }

        #profile-menu-content {
            margin-left:-15px
            width: 115%
        }
    }
</style>

{% endblock %}






