{% load static %}
<div class="profile-container">
    <div class="profile-left">
        {% if profile_user.pfp %}
            <img src="{{ profile_user.pfp.url }}" alt="Profile Picture" class="profile-picture">
        {% endif %}
    </div>
    <div class="profile-right">
        <div class="profile-row">
            {% if profile_user.lifeform == 'human' %}
              <span class="profile-username">@{{ profile_user.username }}</span>
            {% else %}
              <span class="profile-username">#{{ profile_user.username }}</span>
            {% endif %}

            &nbsp;

            {% if is_own_profile %}
                <button id="edit-button" onclick="window.location.href='{% url 'accounts:profile' %}'">Edit</button>
            {% else %}
                {% if request.user.is_authenticated %}
                    {% if is_following %}
                        <!--<button id="unfollow-button" onclick="submitUnfollowForm('{{ profile_user.username }}')">Following</button>
                        <a href="#" onclick="submitUnfollowForm('{{ profile_user.username }}')">Unfollow</a>-->
                        <!--
                        <button id="unfollow-button" onclick="submitUnfollowForm('{{ profile_user.username }}')">Unfollow</button>
                        <button id="unfollow-button" onclick="toggleFollowUnfollow('{{ profile_user.username }}', true)">Following</button>
                        -->
                        <button id="follow-unfollow-button-{{ profile_user.username }}" onclick="toggleFollowUnfollow('{{ profile_user.username }}', true)">Following</button>
                    {% else %}
                        <button id="follow-button" onclick="submitFollowForm('{{ profile_user.username }}')">Follow</button>
                    {% endif %}
                    <form id="follow-form-{{ profile_user.username }}" method="post" action="{% url 'accounts:follow' profile_user.username %}" style="display: none;">
                        {% csrf_token %}
                    </form>
                    <form id="unfollow-form-{{ profile_user.username }}" method="post" action="{% url 'accounts:unfollow' profile_user.username %}" style="display: none;">
                        {% csrf_token %}
                    </form>
                {% endif %}
            {% endif %}
        </div>
        <div class="profile-row">
            {{ profile_user.followers_num }} <a href="{% url 'accounts:followers_list' profile_user.username %}">Followers</a>
            {{ profile_user.following_num }} <a href="{% url 'accounts:following_list' profile_user.username %}">Following</a>
        </div>
        <div class="profile-row">
            {% if profile_user.bio %} {{ profile_user.bio }} {% endif %}
        </div>
    </div>
</div>


<script>
{% comment %}
function toggleFollowUnfollow(username, isFollowing) {
    const button = document.getElementById('unfollow-button');
    if (button.dataset.toggled === "true") {
        // Second click, submit the form
        if (isFollowing) {
            document.getElementById('unfollow-form-' + username).submit();
        } else {
            document.getElementById('follow-form-' + username).submit();
        }
    } else {
        // First click, change the button text and style
        button.dataset.toggled = "true";
        if (isFollowing) {
            button.textContent = "Unfollow";
            button.style.color = "red";  // Change color to indicate confirmation step
        } else {
            button.textContent = "Follow";
            button.style.color = "blue";  // Change color to indicate confirmation step
        }
    }
}
{% endcomment %}
function toggleFollowUnfollow(username, isFollowing) {
    const button = document.getElementById('follow-unfollow-button-' + username);
    if (button.dataset.toggled === "true") {
        // Second click, submit the form
        if (isFollowing) {
            document.getElementById('unfollow-form-' + username).submit();
        } else {
            document.getElementById('follow-form-' + username).submit();
        }
    } else {
        // First click, change the button text and style
        button.dataset.toggled = "true";
        if (isFollowing) {
            button.textContent = "Unfollow";
            button.style.color = "red";  // Change color to indicate confirmation step

            // Change back to "Following" after 3 seconds
            setTimeout(() => {
                if (button.dataset.toggled === "true") {
                    button.textContent = "Following";
                    button.style.color = "";  // Reset color
                    button.dataset.toggled = "false";
                }
            }, 2000);
        } else {
            button.textContent = "Follow";
            button.style.color = "blue";  // Change color to indicate confirmation step

            // Change back to "Follow" after 3 seconds
            setTimeout(() => {
                if (button.dataset.toggled === "true") {
                    button.textContent = "Follow";
                    button.style.color = "";  // Reset color
                    button.dataset.toggled = "false";
                }
            }, 2000);
        }
    }
}

</script>











<!-- Display User's Outfits -->
<div id="outfit-container">
    <div id="them-by-me-content" class="outfit-grid">
        {% if profile_user.profile_visibility == 'public' or request.user == profile_user %}
            {% for outfit in profile_user.outfit_set.all %}
                {% if outfit.maker_grid_visibility == 'show' %}
                <div class="outfit-item" id="outfit-{{ outfit.id }}" {% if not is_own_profile %}ondblclick="likeOutfit({{ outfit.id }})"{% endif %} onclick="toggleImage(this)">
                    {% if 'default_img.jpg' not in outfit.portrait.url %}
                        <img src="{{ outfit.portrait.url }}" alt="Outfit Portrait" class="portrait" style="display: block;">
                    {% endif %}
                    <img src="{{ outfit.image.url }}" alt="Outfit Image" class="image" style="display: {% if 'default_img.jpg' in outfit.portrait.url %}block{% else %}none{% endif %};">
                </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
</div>



<script>
    function likeOutfit(outfitId) {
        // Add thicker border
        const outfitElement = document.getElementById(`outfit-${outfitId}`);
        outfitElement.classList.add('liked-outfit');

        // Remove the thicker border after x seconds
        setTimeout(() => {
            outfitElement.classList.remove('liked-outfit');
        }, 1000); // 1000ms = 1 second

        // DEBUG DEBUG DEBUG DEBUG DEBUG
        const likeOutfitUrl = `{% url 'accounts:like_outfit' %}`;
        console.log('\n\n\n\n\n\n XXXXXXXXXXXXXXXXXXXXXXXXXXXXXX Resolved URL:', likeOutfitUrl, '\n\n\n\n\n\n');

        // Make an AJAX request to like the outfit
        fetch(`{% url 'accounts:like_outfit' %}`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}'
            },
            body: JSON.stringify({ outfit_id: outfitId })
        })
        .then(response => {
            if (response.ok) {
                console.log('\n\n\nOUTFIT ADDED TO LIKES\n\n\n');
            }
        })
        .catch(error => {
            console.error('\n\n\nERROR:', error, '\n\n\n');
        });

        // Prevent default action
        return false;
    }


</script>

































<script>
    function toggleImage(element) {
        const portrait = element.querySelector('.portrait');
        const image = element.querySelector('.image');

        if (portrait.style.display === 'none') {
            portrait.style.display = 'block';
            image.style.display = 'none';
        } else {
            portrait.style.display = 'none';
            image.style.display = 'block';
        }
    }
</script>



<script>
    function submitFollowForm(username) {
        console.log('Following:', username); // Debugging
        var form = document.getElementById('follow-form-' + username);
        if (form) {
            form.submit();
        } else {
            console.error('Follow form not found for user:', username);
        }
    }

    function submitUnfollowForm(username) {
        console.log('Unfollowing:', username); // Debugging
        var form = document.getElementById('unfollow-form-' + username);
        if (form) {
            form.submit();
        } else {
            console.error('Unfollow form not found for user:', username);
        }
    }
</script>




<script>
    document.addEventListener('DOMContentLoaded', function() {
        if (localStorage.getItem('scrollPosition')) {
            window.scrollTo(0, localStorage.getItem('scrollPosition'));
            localStorage.removeItem('scrollPosition');
        }
    });

    window.addEventListener('beforeunload', function() {
        localStorage.setItem('scrollPosition', window.scrollY);
    });
</script>

















<style>
    .profile-container {
        display: flex;
        align-items: flex-start;
        margin-top: -25px;
        margin-left: 15%;
        margin-right: 15%;
        justify-content: center;
    }
    .profile-left {
        margin-right: 20px;
    }
    .profile-right {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .profile-row {
        margin-bottom: 10px;
    }
    .profile-username {
        font-size: 20px;
        font-weight: 400;
    }
    .profile-picture {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        object-fit: cover;
    }
    #unfollow-button, #follow-button {
        margin-left: 10px;
    }
    @media (max-width: 768px) {
        .profile-container {
            margin-left: 1%;
            margin-right: 1%;
        }
        .profile-picture {
            width: 100px;
            height: 100px;
        }
    }

    /* Styles for the new button row */
    .button-row {
        display: flex;
        justify-content: space-between;
        border: 1px solid black;
        margin-top: 20px;
        width: 100%;
    }
    .button-left, .button-right {
        flex: 1;
        padding: 10px;
        text-align: center;
        border-right: 1px solid black;
        cursor: pointer;
    }
    .button-right {
        border-right: none;
    }
    .button-left:hover, .button-right:hover {
        background-color: #f0f0f0;
    }

    .active-button {
        font-weight: bold;
    }

    /* Common grid layout */
    .outfit-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr); /* 3-column layout on desktop */
        grid-gap: 10px;
        margin-top: 20px;
    }
    .outfit-item {
        display: flex;
        flex-direction: column;
        border: 1px solid black;
        overflow: hidden;
        transition: border-width 0.7s ease, border-color 1s 0.5s ease; /* Slow transition for both thickening and thinning */
        box-sizing: border-box; /* Include border in the element's size */
    }
    .outfit-item img {
        width: 100%;
        height: auto;
        aspect-ratio: 1 / 1;
        object-fit: cover;
    }
    @media (max-width: 768px) {
        .outfit-grid {
            grid-template-columns: 1fr; /* 1-column layout on mobile */
        }
    }

    .hidden {
        display: none;
    }
</style>

<style>
    .liked-outfit {
        border-width: 20px; /* Thicker border when liked */
        border-color: red;
        border-color: white;
        transition: border-width 0.7s ease;
    }
</style>