{% extends "core/base.html" %}

{% block page-header %}
  Studio
{% endblock %}

{% block content %}
<div class="content-wrapper">
  <table id="studio-tickets-table">
    <thead>
      <tr>
        <th>Style</th>
        <!-- <th>Occasion</th> -->
        <th>Notes</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {% for ticket in page_obj %} <!-- se view studio_tickets pernaw mesa to ticket (model) method has_submitted_outfits -->
        {% if ticket.creator_id.id != user.id %}
          <!-- grafw creator_id.id giati creator_id=='eleni' an thes na to allakseis go @ customuser kai these __str__-->
          {% with ticket.creator_id.id as creator_id %}
            {% with ticket.creator_id.lifeform as creator_lifeform %}
              {% if creator_id in following_user_ids %}
              <tr style="background-color: #FDFD96;"> <!--light yellow-->
              {% elif creator_lifeform != 'human' %}
              <tr style="background-color: #F5F5F5;"> <!--light grey-->
              {% else %}
              <tr>
              {% endif %}
                <td>{{ ticket.style1.style_name }}</td>
                <!-- <td>{{ ticket.occasion }}</td> -->
                <td>{{ ticket.notes }}</td>
                <td>
                  {% if user.is_authenticated %}
                    <a href="{% url 'studio:studio_items' ticket.id %}">Choose</a>
                  {% else %}
                    <a href="{% url 'studio:studio_items_guest' ticket.id %}">Choose</a>
                  {% endif %}
                </td>
              </tr>
            {% endwith %}
          {% endwith %}
        {% endif %}
      {% endfor %}
    </tbody>
  </table>

  <nav>
    <span>
      {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
      {% endif %}
    </span>
    <span>
      {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">Next</a>
      {% endif %}
    </span>
  </nav>
</div>
{% endblock %}




<style>
  .content-wrapper {
    max-width: 600px;
    margin: 0 auto;
    border: 1px solid red;  /* Added border for debugging */
  }
</style>

