{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <link rel="stylesheet" href="{% static "core/styles.css" %}">
  <link rel="icon" href="{% static 'core/favicon.png' %}" type="image/png">
  <link rel="manifest" href="{% static 'manifest.json' %}">

  <title>RUHAH</title>
  {% block scripts %}{% endblock %}

    <style>
      #header-title {
        position: relative;
        cursor: pointer;
      }

      #header-title .parenthesis {
        position: relative;
        top: -0.1em;
        font-size: 0.9em;
      }

      #alternate-content {
        display: none;
        text-align: center;
        padding: 20px;
      }

      .math-concept {
        font-size: 24px;
        margin: 20px 0;
      }

      .math-parenthesis {
        position: relative;
        top: -0.15em;
        font-size: 0.9em;
      }

      .math-word {
        position: relative;
      }
    </style>

</head>

<body>
<div id="header">
  <h1 id="header-title" onclick="toggleView()"><span class="parenthesis">&#40;</span> RUHAH <span class="parenthesis">&#41;</span></h1>
  <nav id="main-nav">
    <a class="nav-link" href="{% url 'core:home' %}">HOME</a>
    <a class="nav-link" href="{% url 'box:ticket_form' %}">ASK</a>
    <a class="nav-link" href="{% url 'core:trending' %}">TRENDING</a>
    <a class="nav-link" href="{% url 'studio:studio_tickets' %}">STUDIO</a>

    {% if user.is_authenticated %}
        {% if user.username == "guest" %}
            <a class="nav-link" href="{% url 'accounts:login' %}">LOGIN</a>
        {% else %}
            <a class="nav-link" href="{% url 'accounts:public_profile' user.username %}">PROFILE</a>
        {% endif %}
    {% else %}
        <a class="nav-link" href="{% url 'accounts:login' %}">LOGIN</a>
    {% endif %}
  </nav>
</div>

<div id="content">
  <h2 id="page-header">
    {% block page-header %}{% endblock %}
  </h2>
  {% block content %}{% endblock %}
</div>

<div id="alternate-content">
  <div class="math-concept"><span class="math-parenthesis">(</span> <span class="math-word">SAMPLES</span> <span class="math-parenthesis">)</span></div>
  <div class="math-concept"><span class="math-parenthesis">|</span> <span class="math-word">ABSOLUTES</span> <span class="math-parenthesis">|</span></div>
  <div class="math-concept"><span class="math-parenthesis">{</span> <span class="math-word">ELEMENTS</span> <span class="math-parenthesis">}</span></div>
  <div class="math-concept"><span class="math-parenthesis">&lt;</span> <span class="math-word">PRIMES</span> <span class="math-parenthesis">&gt;</span></div>

  <div class="math-concept"><span class="math-parenthesis">((</span> <span class="math-word">VECTORS</span> <span class="math-parenthesis">))</span></div>
  <div class="math-concept"><span class="math-parenthesis">[</span> <span class="math-word">SPACE</span> <span class="math-parenthesis">]</span></div>
</div>

<footer id="footer" style="text-align:center; padding:20px; font-family:inherit;">
    <br><br><br>
    <div>
    <span><a class="nav-link" href="{% url 'core:terms' %}">TERMS</a></span>
    <span><a class="nav-link" href="{% url 'core:privacy' %}">PRIVACY</a></span>
    <span><a class="nav-link" href="{% url 'core:help' %}">HELP</a></span>
    <span><a class="nav-link" href="{% url 'core:social' %}">SOCIAL</a></span>
    <span><a class="nav-link" href="{% url 'core:search' %}">SEARCH</a></span>
  </div>
  <div>
    © 2024 RUHAH
  </div>
</footer>

<div id="mobileMessage" class="mobile-message">
    <strong>Share</strong> > <strong>Add to Home Screen</strong> to download the App
</div>

<script>
  if ('serviceWorker' in navigator) {
    navigator.serviceWorker.register('{% static 'serviceworker.js' %}')
    .then(function(registration) {
      console.log('ServiceWorker registration successful with scope: ', registration.scope);
    }, function(error) {
      console.log('ServiceWorker registration failed: ', error);
    });
  }
</script>

<script>
  function isMobile() {
    return /Android|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent);
  }

  function isInStandaloneMode() {
    return (window.matchMedia('(display-mode: standalone)').matches) || (window.navigator.standalone);
  }

  function isLoginPage() {
    return window.location.pathname === '/accounts/login/';
  }

  window.addEventListener('load', () => {
    if (isMobile() && !isInStandaloneMode() && isLoginPage()) {
      document.getElementById('mobileMessage').style.display = 'block';
    }
  });

  function toggleView() {
    var headerTitle = document.getElementById('header-title');
    var mainContent = document.getElementById('content');
    var alternateContent = document.getElementById('alternate-content');
    var parentheses = headerTitle.getElementsByClassName('parenthesis');
    var mainNav = document.getElementById('main-nav');
    var footer = document.getElementById('footer');

    if (mainContent.style.display !== 'none') {
      mainContent.style.display = 'none';
      alternateContent.style.display = 'block';
      mainNav.style.display = 'none';
      footer.style.display = 'none';
      for (var i = 0; i < parentheses.length; i++) {
        parentheses[i].style.display = 'none';
      }
    } else {
      mainContent.style.display = 'block';
      alternateContent.style.display = 'none';
      mainNav.style.display = 'block';
      footer.style.display = 'block';
      for (var i = 0; i < parentheses.length; i++) {
        parentheses[i].style.display = 'inline';
      }
    }
  }

  document.addEventListener('DOMContentLoaded', function() {
    var samples = document.querySelector('#alternate-content .math-concept');
    if (samples) {
      samples.style.cursor = 'pointer';
      samples.addEventListener('click', toggleView);
    }
  });
</script>

</body>
</html>