{% extends "core/base.html" %}

{% load static %}

{% block page-header %}
  Help
{% endblock %}

{% block content %}

<div id="help-menu-content" style="display: flex; width: 100%; margin-top: -10px;">
    <!-- Navigation Menu -->
    <div id="help-menu" style="width: 15%; font-family: 'Poppins', sans-serif;">
        <a href="#" onclick="showContent('asks', 'Help > Asks')">ASKS</a>
        <a href="#" onclick="showContent('trending', 'Help > Trending')">TRNDING</a>
        <a href="#" onclick="showContent('studio', 'Help > Studio')">STUDIO</a>
        <br>
        <a href="#" onclick="showContent('stylists', 'Help > Stylists')">STYLISTS</a>
        <br>
        <a href="#" onclick="showContent('delivery', 'Help > Delivery')">DELIVERY</a>
        <a href="#" onclick="showContent('returns', 'Help > Returns')">RETURNS</a>
        <br>
        <!-- <a href="#" onclick="showContent('careers', 'Help > Careers')>Careers</a> -->
        <a href="#" onclick="showContent('contact', 'Help > Contact')">CONTACT</a>
    </div>

    <!-- Content Area -->
    <div id="content" style="width: 70%; padding-left: 5px; margin-top: -16px;">
        <div id="help" class="content-section active" style="display: block;">
            <p>Welcome. Please choose the section you need assistance with.<br><br>
        </div>

        <div id="asks" class="content-section" style="display: none;">
            <p>
            Ask is a form with which you request an outfit idea from other users.<br>
            <h3>Who creates the outfits for the asks?</h3>
            Other Ruhah users, so stylists at heart or profession.
            As an ask creator you can choose to make it open for everyone to style,
            limit its visibility only to the accounts you are following,
            or make it private only to one account of your choice.
            <h3>How are the outfits created?</h3>
            Multiple different users can create their own outfit idea for each ask.
            Then our algorithm selects one of them based on their popularity.
            <h3>What should i write in the ask's stylist notes?</h3>
            Anything that could help a human get it. You can describe a mood you're into, a trend you wanna explore, a specific occasion
            or an idea you already have but need help with.
            <h3>When is the outfit ready?</h3>
            1-5 hours for regular asks. For private asks it's completely up to the stylist.
            <h3>Can i buy an outfit's items?</h3>
            Yes, all the items (clothes and accessories) in an outfit are available for purchase.
            <h3>Do i have to buy something in it?</h3>
            No. You can just use the outfit as an inspiration.
            <h3>Is creating and submitting an ask free?</h3>
            Yes.
            <h3>Can i create an outfit for another user's ask?</h3>
            Yes, everyone can in the studio. Visit the studio help section for more info on how it works.
            </p>
        </div>

        <div id="trending" class="content-section" style="display: none;">
            <p>
            In the trending page you discover new outfits made by other users. Each one is signed by the creator,
            so you can explore and follow other users' profiles.<br><br>
            Outfits are ranked depending on their popularity in the past few days.<br><br>
            You can customise your trending page so that it only shows outfits from
            accounts you follow or outfits of a specific style, like boho or streetwear.
            </p>
        </div>

        <div id="box" class="content-section" style="display: none;">
            <p><h3>What is a Ruhah Box?</h3>
            A box delivered to you that includes 6-8 items.
            These items make for 2 different outfits, 3-4 items each,
            curated by human stylists based on your personal requests.
            <h3>Do i have to buy everything in it?</h3>
            No. You buy and keep only the items you want to.
            The rest you put them back to the box and return them to us for free.
            <h3>How are the outfits curated?</h3>
            Stylists create outfits for the same ask and then our algorithm
            selects one of them based on its popularity.
            <h3>What do i pay for?</h3>
            <ul>
                <li>A $15 styling fee to order the Box. This includes all Box shipping costs, both delivery and return.</li>
                <li>The price of each item that you want to keep.</li>
            </ul>
            The styling fee is returned to you as discount on the items you purchased.<br>
            If you decide to keep all the items that belong to the same outfit you get -20% discount on them.<br>
            <h3>Is it a subscription service?</h3>
            No. You only pay each time you order a Box.</p>
        </div>

        <div id="studio" class="content-section" style="display: none;">
            <p>
                In the studio page you can view other users' asks and create outfits for them.<br>
                <h3>How do i create an outfit?</h3>
                In the studio, you first select one of the available asks, then choose the clothes and accessories you like, and finally submit it.
                <h3>How do I search for items to include in my outfit?</h3>
                You can use keywords that you think describe
                the item you have in mind and its attributes ("blue" "distressed" "stripes" "loafer" etc).
                <h3>As a stylist, do I need to worry about the sizes of the items I select?</h3>
                No. Our item search algorithm automatically filters items to fit the ask creator's size.
                <h3>What kind of items are available in the catalogue?</h3>
                Clothing items such as shirts, trousers, dresses,
                and accessories like bags and glasses. Some new, some pre-owned. Some ours, some made by other brands.
                <h3>Are all items ready to ship?</h3>
                Yes. If you can see it you can buy it.
                <h3>What is a yellow ask?</h3>
                The user that submitted it follows you at Ruhah.
                <h3>What is a red ask?</h3>
                Ooh lala you've got a secret admirer. This is a private ask, created by a user only for you to style.
        </div>
        <div id="stylists" class="content-section" style="display: none;">
            <p>
                Stylists, at heart or at profession, are registered users who create outfits for other users' asks.
                As a stylist you earn money every time a user purchases clothes or accessories you recommended.
                <br>
                <h3>As a stylist, how do i earn money?</h3>
                Every time a user buys an item from an outfit you created. The amount earned is
                a percentage of the final price, from 15% to 30% depending on the occasion.
                <h3>What happens after a stylist creates and submits an outfit?</h3>
                For each user request, up to 10 stylists recommend an outfit each.
                In the next few hours our algorithm selects one of them, depending on factors like
                the outfit's popularity. Then, it is displayed in
                the creator's account page and they are free to either buy or not items from that outfit.
                <h3>What happens if they don't buy anything?</h3>
                Nothing.
                <h3>Is there any other way to earn money?</h3>
                Yes. Every time a user buys an item from an outfit in your profile grid,
                you get 10% of that sale.
                <h3>Is it really that simple?</h3>
                Yes. You sign up, start styling, and earn money each time your items are bought.
            </p>
        </div>

        <div id="delivery" class="content-section" style="display: none;">
            <p>We currently only deliver to the UK.<br>
            <br>
            Most of the clothes and accessories are delivered directly from the brands
            we collaborate with. After each order the brand will email to you information regarding the
            tracking and expected shipping time.<br>
            <br>
            <strong>Disclaimer</strong>: For packages not shipped by our warehouse, we are not responsible for any lost or damaged items.
            <br>We recommend contacting the brand or carrier directly for any delivery-related issues.
            However, feel free to contact us for any unresolved issue or question and we will do our best to find a solution.</p>
        </div>
        <div id="returns" class="content-section" style="display: none;">
            <p><h3>Items not purchased</h3>
                We offer free returns on all items in your Ruhah Box that you did not purchase.<br>
                <ul>
                    <li>You have 3 days to decide what to keep and what to return.</li>
                    <li>Place the items you don’t want back to the Box.
                        Make sure they are in the same condition as found
                        with all original packaging and tags.</li>
                    <li>Seal the Box with the tape provided and attach the pre-paid return label outside.</li>
                    <li>Go to the nearest post-office and return the Box.</li>
                </ul>
                <h3>Items purchased</h3>
                We accept returns on items purchased within 30 days.
                The customer is responsible for the carrier choice and the shipping cost.<br>
                <ul>
                    <li>Include a piece of paper with the original order number inside the package.</li>
                    <li>Attach a paper with the return address on the outside of the package.</li>
                    <li>Make sure to select a delivery option with a tracking number.</li>
                    <li>As soon as we receive the package we will refund the amount back to your payment method.</li>
                </ul>
                <strong>Keep in mind:</strong> It may take up to 14 business days to receive a refund.
                If your refund hasn’t been issued within that time, please contact us and we'll sort things out.
            <p/>
        </div>

        <div id="careers" class="content-section" style="display: none;">
            <p>As a Ruhah stylist, all you need is your phone and the internet in order to create and earn.
            You can sign up and start styling at any time.<br><br>
            If you are interested in joining our operations team,
            although we are not currently looking to add new members,
            we are always excited to connect with like-minded people.
            If you appreciate what we do, enjoy trying new things, and love solving problems,
            feel free to drop us an email. We would be happy to hear from you.</p>
        </div>

        <div id="contact" class="content-section" style="display: none;">
            <p>For customer care or any other enquiries:<br><br>contact@ruhah.com</p>
        </div>
    </div>

    <div id="empty-area" style="width: 15%;">
    </div>
</div>

<script>
    function showContent(sectionId, headerText) {
        var sections = document.querySelectorAll('.content-section');
        sections.forEach(function(section) {
            section.style.display = 'none';
        });
        document.getElementById(sectionId).style.display = 'block';
        document.getElementById('page-header').textContent = headerText;
    }

    // BEGIN NEW SCRIPT

    document.addEventListener("DOMContentLoaded", function() {
        // Script for dynamic text in HOW IT WORKS section
        const textElement = document.getElementById("dynamic-text");
        const phrases = ["JUST CAN'T DECIDE", "WANT STYLING ADVICE", "DON'T HAVE THE TIME"];
        let currentPhraseIndex = 0;

        setInterval(function() {
            currentPhraseIndex = (currentPhraseIndex + 1) % phrases.length;
            textElement.textContent = phrases[currentPhraseIndex];
        }, 1000); // Change every 1 second
    });

    // END NEW SCRIPT
</script>

<style>
    #help-menu a {
        display: block;
        margin-bottom: 5px; /* Ensure each link is on its own line */
        text-align: left;
    }

    #content-selection, #content-selection-active {
        /* einai centered by default opote prepei na kaneis page breaks*/
    }

    @media (max-width: 768px) {
        #empty-area {
            width: 5% !important;
            /* background-color: red; */
        }
        #help-menu {
            width: 15%;
            flex-direction: row;
            overflow-x: auto;
            margin-right: 15px;
            padding-right: 21px;
            margin-top: 0px;
            /* background-color: green; */
        }
        #help-menu a {
            flex: 1;
            border-bottom: none;
        }
        #content {
            width: 100%;
            padding-left: 0px;
            margin-top: 0;
        }
        #help-menu-content {
            margin-left:-15px
            width: 115%
        }
    }
</style>

{% endblock %}