{% extends "core/base.html" %}
{% load static %}

{% block scripts %}
  <script src="{% static "core/home.js" %}" defer></script>
{% endblock %}

{% block content %}


    <!-- Display current page for logged-in users -->
    <form id="outfits-form" method="post">
      {% csrf_token %}
      <input id="winner-input" name="winner" hidden>

      <div id="outfits-container">
        {% for outfit in outfits %}
          <input id="outfit{{ forloop.counter }}-input" name="outfit{{ forloop.counter }}" value="{{ outfit.pk }}" hidden>
          <div class="outfit">
            <input id="outfit{{ forloop.counter }}-image" type="image" class="outfit-image" src="{{ outfit.image.url }}">
            <br>
          </div>
          {% if forloop.first %}
            <div id="outfit-separator"></div>
          {% endif %}
        {% endfor %}
      </div>
    </form>



    {% comment %}
    <!-- Display new landing page for guest users -->
    <div id="landing-container" style="width: 90%; max-width: 2000px; margin: -25px auto 0 auto;">

      <!-- contHELLO -->
      <div id="contHELLO" style="text-align: center; margin-bottom: 70px;">
        <img src="{% static 'images/landing/balenciaga1.jpg' %}" alt="Balenciaga Image" style="width: 100%;">
        <h1 class="goodbye-decisions">goodbye decisions</h1>
        <h1 class="goodbye-decisions" style="font-weight:300; margin-top: -25px;">hello <a href="https://ruhah.com/accounts/slayyyer/">@slayyyer</a></h1>
        <!-- <p style="font-size: 18px; max-width: 600px; margin: 0 auto;">"I’ve always wanted to be in fashion, you know, something glamorous, like styling for runway shows or whatever. Instead, I’m trapped in this beige cubicle nightmare as an office assistant for a pharmaceutical company—Big Pharma Barbie. But listen, the office looks *better* because I’m there. I’m handing out unsolicited style tips like I’m doing charity work. Like, "Hey, Cindy, ever heard of a blazer that isn't navy?" I just lied. I’m actually a stylist, professionally. And yes, I’m incredibly good at it. Every moment is pure ecstasy. Lied again. Life’s a runway, and I’m just here spilling coffee on the catwalk."</p> -->
        <p style="font-size: 18px; max-width: 600px; margin: 0 auto;">"As a stylist, my job is done when you feel like a 1-year old fawn. Unbothered, wide-eyed, and ready to take on the world."</p>
      </div>
      {% endcomment %}


<script>
  document.addEventListener("DOMContentLoaded", function() {

      // Script for image toggle
    const imageElement = document.getElementById("toggle-image");
    const imagePaths = [
      "{% static 'images/landing/thinkrandom1.jpg' %}"
    ];
    let currentImageIndex = 0;

    setInterval(function() {
      currentImageIndex = (currentImageIndex + 1) % imagePaths.length;
      imageElement.src = imagePaths[currentImageIndex];
    }, 2000); // Change every 2 seconds

  });
</script>





    <!-- Inline CSS for desktop and mobile views -->
    <style>
      /* Align the items at the top in contHOW and contFEELING */
      #contHOW, #contFEELING {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
        margin: 0 auto 50px auto;
        width: 100%;
      }

      /* Align items within individual containers */
      #contHOW1, #contHOW2, #contHOW3, #contFEELING1, #contFEELING2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
      }

      h3 {
          font-size: 20px;
      }

      #contHOW h3 {
          margin-bottom: -2px;
          font-weight: 600;
      }





      /* For desktop mode */
      @media (min-width: 768px) {

        #landing-container {
          width: 90%;
          max-width: 2000px;
        }

        #contWHAT-img {
          flex: 1 1 40%;
          max-width: 40%;
          margin: 0 auto;
        }

          #contHOW {
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-between; /* Space between items */
            align-items: flex-start;
            gap: 20px; /* Add a gap between items to ensure no overlap */
            margin: 0 auto 50px auto;
            width: 100%;
          }

          #contHOW1, #contHOW2, #contHOW3 {
            flex: 1 1 calc(33.333% - 20px); /* Equal width, accounting for the gap */
            margin: 0; /* Remove the extra margin */
          }
      }






      /* For mobile mode */
      @media (max-width: 767px) {

        #landing-container {
            width: 100%;
        }

        .goodbye-decisions  {
          white-space: nowrap;
          font-size: calc(4vw + 10px); /* Dynamically adjust font size */
          max-width: 100%;
          overflow: hidden;
          display: block;
        }

        #contHELLO img {
          content: url("{% static 'images/landing/polaroid1.jpg' %}");
        }

        #contHELLO p {
          max-width: 500px;
          margin: 0 auto;
        }

        #contHOW, #contFEELING {
          display: block;
          justify-content: center;
          margin: 0 auto;
        }

        #contHOW1, #contHOW2, #contHOW3, #contFEELING1, #contFEELING2 {
          margin: 0 auto;
        }

        #contFEELING2 {
            margin-top: 40px;
        }
      }
    </style>


{% endblock %}