{% extends "core/base.html" %}

{% block page-header %}
  Privacy Policy
{% endblock %}

{% block content %}

<style>
    #content {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        width: 70%;
    }

    @media screen and (max-width: 768px) {
        #content {
            width: auto;
            padding-left: 5px;
            padding-right: 5px;
        }
    }
</style>

<div id="content">
DISCLAIMER<br><br>

Ruhah collects customer information in an effort to enhance and personalize your shopping experience. This information allows us to communicate with our customers about our products, services and promotions.<br><br>

LAWYER SPEAK<br><br>

The privacy policy (the “Privacy Policy”) described below covers the entire Ruhah website (“the Site,” “we,” “us,” or “our”). Phrases such as “you,” “your” and other similar expressions refer to our customers, or the specific users of this Site. By visiting and using the Site, you accept the practices described in this Privacy Policy.<br><br>

COLLECTED INFORMATION

When you place an order, submit your account information, or participate in Ruhah promotions or surveys, our Site collects your personal information such as your name, e-mail address, mailing address and payment information (credit card numbers and banking accounts). Ruhah will use your information collected online to process and fulfill your order. Additionally, your e-mail address may be collected at various points within the Site (including when you place an order with us) so that we can send you any necessary e-mail messages related to your order, such as order and shipping confirmations.

In addition, we maintain a record of your purchase history, product interests, and whatever other membership details that might enable us to improve your shopping experience. Analytics such as Site use and traffic patterns are also considered to help us improve the design of our website, the products we make and exclusive services we offer. At Ruhah, we understand and recognize that we must maintain and use customer information responsibly.

Please note: You are not required to submit any information to our Site. However, without providing the requested information, you may be unable to access certain features of our Site, including viewing our showroom, placing an order or logging into any other Ruhah membership-related services.

ADDITIONAL MEANS OF OBTAINING INFORMATION

Cookies

As you navigate our site, your preferences are remembered through the temporary use of “session” cookies. Cookies enable our systems to gather information about your browser as well as monitor the navigational patterns you take while browsing the site. Site users have the option to accept or disable cookies at any time through their browsers. If you choose to disable your cookies, your user experience may be limited.

SITE STATISTICS

Web data is collected to monitor user trends on our Site. Analytical data such as hits to our server, traffic patterns and page views shows us where our audience is coming from and how they interact with us online. This type of collected information does not personally identify specific Site users. In addition, like most websites, our Site may utilize “web beacons,” “pixel tags” or other tracking technologies to help us study the actions of our users through non-personally identifiable information. This data may be aggregated with similar data collected from other users to help us improve Ruhah products, services and our overall Site experience.

INFORMATION SHARING WITH OUTSIDE PARTIES

Ruhah may also share your personally identifiable and/or your non-personally identifiable information, including your name, address, email address, and any transactions you conduct on our Site or offline with us with a third-party advertising partner and its service providers in order to deliver you advertising tailored to your interests when you visit certain other websites.  Our advertising partner makes the data we provide anonymous.

Ruhah will never rent or sell your e-mail address. We do not share credit card information with third parties except for the purpose of processing your order payment and as required by law. If for any reason you choose to access a third party website linked to our Site, you do so at your own risk. We are not held responsible for how these outside parties collect, use, protect or disclose the information you provide them.

AGE REQUIREMENT

sply.Ruhah.com is intended for users who are 18 years of age and older. If you are under the age of 18, you are not permitted to submit any personal information to us.

SECURITY

We employ top physical, electronic, and administrative safety measures to assist us in protecting your personal information and credit card data. These safeguards help us to prevent fraud and unauthorized access as well as maintain data accuracy. In addition, we use professionally reasonable efforts to block access to your personal information from Ruhah employees and corporate partners to ensure your personal information is always kept safe.

MODIFICATION OF POLICIES

It is at our sole discretion that Ruhah may modify this Privacy Policy to better serve our customers. Please check back often to review any new modifications that have been made.

SUMMARY

Ruhah takes your privacy seriously. When connecting with us, we want our customers to feel confident that their personal information and credit card data is protected. Just as we are dedicated to bringing you the very best products, we are equally committed to providing our customers with a safe and secure shopping experience. The personal information we collect from our Site helps us better understand the interests of our audience in an ongoing effort to bring you improved service.

If you have questions or suggestions regarding our privacy standards please email sply@Ruhah.com.

TERMS OF SERVICE

Welcome to the Ruhah Inc. web site (“Ruhah”, “the Site,” “we,” “us,” or “our”). Ruhah provides this site as a service to its customers. Please read the following terms of service (“Terms”) as they govern your use of our site. By using this Site, you agree to follow and be bound by the following rule below. If you do not agree to these Terms, please do not use this Site in any way.

Additionally, Ruhah reserves the right to modify these Terms at any time without prior notification. Site users must agree upon and abide by these changes accordingly. Please review this page periodically for changes. Any use of our Site at any time constitutes full acceptance of our service Terms.



DESCRIPTION OF SERVICE

Ruhah is an online retailer of designer-quality goods offered at great values to the consumer. Membership allows customers to purchase a variety of products, from accessories to essentials, exclusively offered to our members monthly.



USAGE RESTRICTIONS

All of the content that appears on the Ruhah web site, including all visuals, text, audio and video clips are subject to copyright protections and /or other intellectual property rights or licenses held by Ruhah. The entire content of the Ruhah web site is copyrighted as a collective work under U.S. copyright laws. Ruhah grants you a limited license to access and make personal use of the content on this website. Content of the Ruhah website is intended solely for the personal, noncommercial use by the users of our Site.



MEMBERSHIP ELIGIBILITY

Membership for sply.Ruhah.com is free. However, our membership services are not available to users under the age of 18 or to members who, at our discretion, have been suspended or removed from the Ruhah systems. Members agree to all terms of service and must only apply for membership if eligible.



NOTICE

Ruhah may contact you or provide you with service-related and or promotional notices by means of postal mail, electronic mail, general site notifications and more using the contact information you have provided to us.



PRICING POLICY

At Ruhah, we are committed to providing our customers with great quality products at low prices. Our products are sold online only at limited quantities and availabilities. We have done our best to display our items as accurately as possible on the Site. Please be aware, variations in style, color, size, shape and look may occur. If you are not satisfied your purchase, please review our Shipping and Returns section for further assistance.

All prices on the site are listed in U.S. Dollars (USD).



INTERNATIONAL SHIPPING

The goods will be imported on behalf of the consignee/e-buyer. The consignee authorized Ruhah to import the goods on his behalf. Further, the consignee/e-buyer agrees that Ruhah may delegate the obligation to import the goods on his behalf to a subcontractor (e.g. customs broker). The consignee will pay the taxes & duties in addition with the purchase price of the goods.



SITE USE

You cannot access or use the Ruhah website for any illegal or unauthorized purpose. Harassment in any manner or form of the Site, including via e-mail and chat or by obscene or abusive language, is strictly forbidden. Although Ruhah cannot monitor the conduct of its users, it is a strict violation of these Terms to use any information obtained from our Site in order to harass, abuse or harm another person, or in order to contact, advertise, solicit or sell to any user without his/her prior explicit consent.

Also, you agree that no comments or other user submissions submitted by you to the Ruhah website will violate any right of any third party, including copyright, trademark, privacy or other personal rights. You further agree that no comments submitted by you to the Site will be or contain libelous or otherwise unlawful, abusive or obscene material. You are and shall remain solely responsible for the content of any comments you make.



USER SUBMISSIONS

Ruhah strives to create an interactive relationship with the members of its Site and services. User comments, feedback, suggestions, ideas, and other submissions disclosed, submitted or offered to Ruhah on or by this Site shall be and remain Ruhah property. Users assign all property rights and interests to Ruhah allowing our company unlimited use, commercial or otherwise, of any comments. Furthermore, Ruhah shall be under no obligation (1) to maintain any comments in confidence; (2) to pay to users any compensation for any comments; or (3) to respond to any user comments.



CORRECTION OF SITE ERRORS

The information on the Ruhah website may contain typographical errors or inaccuracies. We reserve the right to update any information we see fit at any time without prior notice. Please note that such errors may relate to product information, pricing and availability. In these instances, we shall have the right to terminate any orders involving pricing errors or inaccuracies. We apologize for any inconveniences.



INDEMNITY

By use of this Site, you agree to indemnify and hold Ruhah (and its officers, directors, agents, subsidiaries, joint ventures, and employees) harmless from any claim or demand, as well as losses, expenses, damages and costs, resulting from any violation of these terms of service or any activity related to your account (including negligent or wrongful conduct).



MODIFICATION/TERMINATION OF WEBSITE

In the event of termination, you will still be bound by your obligations under these terms of service, including the warranties made by you, and by the disclaimers and limitations of liability. Ruhah shall not be liable to you or any third-party for any termination of your access.



THIRD PARTY LINKS

To improve our Site, Ruhah may use and promote services provided by outside third parties. However, even if the third party is affiliated with Ruhah, we do not control these services and make no representations regarding these persons or entities. We are not liable or responsible for the accuracy, completeness, timeliness, reliability or availability of, any such parties. Outside sites linked on our Site, all of which have separate privacy and data collection practices, are only for your convenience and therefore you access them at your own risk.

WE ARE NOT RESPONSIBLE OR LIABLE FOR ANY LOSS OR DAMAGE OF ANY SORT INCURRED AS A RESULT OF ANY DEALINGS WITH ANY THIRD PARTY WEBSITE OR MERCHANT OR OPERATOR OF SUCH A THIRD PARTY WEBSITE.



DISCLAIMER OF WARRANTY

ALL CONTENT, PRODUCTS, AND SERVICES ON THE SITE, OR OBTAINED FROM A WEBSITE TO WHICH THE SITE IS LINKED (A "LINKED SITE") ARE PROVIDED TO YOU "AS IS" WITHOUT ANY GUARANTEES OR WARRANTY. IN CONNECTION WITH ALL CONTENT, PRODUCTS AND SERVICES ON THIS SITE, Ruhah MAKES NO WARRANTIES OF ANY KIND, EITHER EXPRESS OR IMPLIED INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE, TITLE, NON-INFRINGEMENT, SECURITY OR ACCURACY. USE OF THE PRODUCT BY A USER IS AT THE USER’S RISK.



LIMITATION OF LIABILITY

Ruhah SHALL NOT BE LIABLE TO YOU FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, CONSEQUENTIAL OR EXEMPLARY DAMAGES THAT RESULT FROM THE USE OF, OR THE INABILITY TO USE, THE MATERIALS AND SERVICES ON THIS SITE OR THE PERFORMANCE OF ANY ITS PRODUCTS (EVEN IF Ruhah HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES).

GDPR

The below policy addresses the General Data Protection Regulation (GDPR) and describes how your personal information is collected, used, and shared when you visit or make a purchase from sply.Ruhah.com (the “Site”).  We comply to GDRP collection and data requirements.



PERSONAL INFORMATION WE COLLECT

When you visit the Site, we automatically collect certain information about your device, including information about your web browser, IP address, time zone, and some of the cookies that are installed on your device. Additionally, as you browse the Site, we collect information about the individual web pages or products that you view, what websites or search terms referred you to the Site, and information about how you interact with the Site. We refer to this automatically-collected information as “Device Information”.

We collect Device Information using the following technologies:



- “Cookies” are data files that are placed on your device or computer and often include an anonymous unique identifier. For more information about cookies, and how to disable cookies, visit http://www.allaboutcookies.org.

- “Log files” track actions occurring on the Site, and collect data including your IP address, browser type, Internet service provider, referring/exit pages, and date/time stamps.

- “Web beacons”, “tags”, and “pixels” are electronic files used to record information about how you browse the Site.



Additionally, when you make a purchase or attempt to make a purchase through the Site, we collect certain information from you, including your name, billing address, shipping address, payment information (including credit card numbers, email address, and phone number). We refer to this information as “Order Information”.



When we talk about “Personal Information” in this Privacy Policy, we are talking both about Device Information and Order Information.



HOW DO WE USE YOUR PERSONAL INFORMATION?

We use the Order Information that we collect generally to fulfill any orders placed through the Site (including processing your payment information, arranging for shipping, and providing you with invoices and/or order confirmations). Additionally, we use this Order Information to:



- Communicate with you;

- Screen our orders for potential risk or fraud; and

- When in line with the preferences you have shared with us, provide you with information or advertising relating to our products or services.



We use the Device Information that we collect to help us screen for potential risk and fraud (in particular, your IP address), and more generally to improve and optimize our Site (for example, by generating analytics about how our customers browse and interact with the Site, and to assess the success of our marketing and advertising campaigns).



SHARING YOUR PERSONAL INFORMATION

We share your Personal Information with third parties to help us use your Personal Information, as described above. For example, we use Shopify to power our online store--you can read more about how Shopify uses your Personal Information here: https://www.shopify.com/legal/privacy. We also use Google Analytics to help us understand how our customers use the Site -- you can read more about how Google uses your Personal Information here: https://www.google.com/intl/en/policies/privacy/. You can also opt-out of Google Analytics here: https://tools.google.com/dlpage/gaoptout. Finally, we may also share your Personal Information to comply with applicable laws and regulations, to respond to a subpoena, search warrant or other lawful request for information we receive, or to otherwise protect our rights.



BEHAVIOURAL ADVERTISING

As described above, we use your Personal Information to provide you with targeted advertisements or marketing communications we believe may be of interest to you. For more information about how targeted advertising works, you can visit the Network Advertising Initiative’s (“NAI”) educational page at http://www.networkadvertising.org/understanding-online-advertising/how-does-it-work. You can opt out of targeted advertising by using the links below:



- Facebook: https://www.facebook.com/settings/?tab=ads

- Google: https://www.google.com/settings/ads/anonymous



Additionally, you can opt out of some of these services by visiting the Digital Advertising Alliance’s opt-out portal at: http://optout.aboutads.info/.



DO NOT TRACK

Please note that we do not alter our Site’s data collection and use practices when we see a Do Not Track signal from your browser.



YOUR RIGHTS

If you are a European resident, you have the right to access personal information we hold about you and to ask that your personal information be corrected, updated, or deleted. If you would like to exercise this right, please contact us through the contact information below. Additionally, if you are a European resident we note that we are processing your information in order to fulfill contracts we might have with you (for example if you make an order through the Site), or otherwise to pursue our legitimate business interests listed above. Additionally, please note that your information will be transferred outside of Europe, including to Canada and the United States.



DATA RETENTION

When you place an order through the Site, we will maintain your Order Information for our records unless and until you ask us to delete this information.



CHANGES

We may update this privacy policy from time to time in order to reflect, for example, changes to our practices or for other operational, legal or regulatory reasons.



MINORS

The Site is not intended for individuals under the age of 18.



CONTACT US

For more information about our privacy practices, if you have questions, or if you would like to make a complaint, please contact us by e mail at sply@Ruhah.com or by mail using the details provided below:



Ruhah

[Re: Privacy Compliance Officer]


</div>
{% endblock %}