{% extends "core/base.html" %}

{% block title %}Social | RUHAH{% endblock %}

{% block page-header %}
  Social
{% endblock %}

{% block content %}
  <div style="margin-top: -10px;">
    <div>
      <a href="https://instagram.com/fumioxyz" target="_blank">Instagram</a>
    </div>
    <br>
    <div>
      <a href="https://tiktok.com/@fumioxyz" target="_blank">TikTok</a>
    </div>
    <br>
    <div>
      <a href="https://youtube.com/fumioxyz" target="_blank">YouTube</a>
    </div>
  </div>
{% endblock %}
