I apologize for the confusion. You're right, I should have provided the complete content. Here's the full HTML file for terms.html with all the terms adapted for RUHAH and formatted as specified:

```html
{% extends "core/base.html" %}

{% block page-header %}
  Terms and Conditions
{% endblock %}

{% block content %}

<style>
#content-terms {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: calc(100% - 10px);  /* Full width minus 5px on each side */
    padding-left: 5px;
    padding-right: 5px;
    font-size: 14px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    hyphens: auto;
}

@media screen and (min-width: 769px) {
    #content-terms {
        width: 70%;  /* 70% width for desktop */
    }
}
</style>

<div id="content-terms">
RUHAH website Terms & Conditions<br><br>

INTRODUCTION<br><br>

These Terms are the only conditions that are applicable to the use of this website and they replace all
other conditions, except with the express, prior written agreement of the Vendor. These Terms are important
for both You and us as they have been designed to create a legally binding agreement between us, protecting
your rights as a valued customer and our rights as a business. You agree that, by placing your order, You
unreservedly accept these Terms, having read them.<br><br>
USE OF OUR WEBSITE<br><br>

These Terms are the only conditions that are applicable to the use of this website and they replace all other conditions, except with the express, prior written agreement of the Vendor. These Terms are important for both You and us as they have been designed to create a legally binding agreement between us, protecting your rights as a valued customer and our rights as a business. You agree that, by placing your order, You unreservedly accept these Terms, having read them.<br><br>

You agree that:<br><br>

1. You may only use the website to make legitimate enquiries or orders.<br>
2. You will not make any speculative, false or fraudulent orders. If we are reasonably of the opinion that such an order has been made, we shall be entitled to cancel the order and inform the relevant authorities.<br>
3. You also undertake to provide correct and accurate e-mail, postal and/or other contact details to us and acknowledge that we may use these details to contact You in the event that this should prove necessary (see our Privacy Statement).<br>
4. If You do not give us all of the information that we need, we may not be able to complete your order.<br><br>

By placing an order through the website, You warrant that You are at least 18 years old and are legally capable of entering into binding contracts.<br><br>

SERVICE AVAILABILITY<br><br>

The items we offer on this website are only available in Ireland.<br><br>

HOW THE CONTRACT IS FORMED<br><br>
    
The information set out in the Terms and the detail contained on this website do not constitute an offer
for sale but rather an invitation to treat. No contract in respect of any products shall exist between You
and us until your order has been accepted by us. If we do not accept your offer and funds have already been
deducted from your account, these will be fully refunded.<br><br>

To place an order, You will be required to follow the shopping process online and press the "Authorize
payment" button to submit the order. After this, You will receive an e-mail from us acknowledging that we
have received your order (the "Order Confirmation"). Please note that this does not mean that your order
has been accepted, as your order constitutes your offer to us to buy one or more products from us. All
orders are subject to acceptance by us, and we will confirm such acceptance to You by sending You an e-mail
that confirms that the product has been dispatched (the "Shipment Confirmation"). The contract for the
purchase of a product between us (Contract) will only be formed when we send You the Shipment Confirmation.<br><br>

The Contract will relate only to those products whose dispatch we have confirmed in the Shipment
Confirmation. We will not be bound to supply any other products which may have been part of your order
until the dispatch of such products has been confirmed in a separate Shipment Confirmation.<br><br>
AVAILABILITY OF PRODUCTS<br><br>

All orders for products are subject to availability and in this regard, in the event of supply difficulties or because products are no longer in stock, we reserve the right to give You information about substitute products of an equal or higher quality and value which You can order. If You do not wish to order such substitute products, we will refund any monies that You might have paid.<br><br>

REFUSAL OF ORDER<br><br>

We reserve the right to withdraw any products from this website at any time and/or remove or edit any materials or content on this website. Whilst we will make our best efforts to always process all the orders, there may be exceptional circumstances which mean that we may need to refuse to process an order after we have sent You an Order Confirmation, which we reserve the right to do at any time, at our sole discretion.<br><br>

We will not be liable to You or any other third party by reason of our withdrawing any product from this website, whether it has been sold or not, removing or editing any materials or contents on this website or for refusing to process or accept an order after we have sent You the Order Confirmation.<br><br>

YOUR RIGHTS TO CANCEL "Cooling Off"<br><br>

If You are contracting as a consumer, You may cancel a Contract at any time within 30 days, as of the confirmation of the dispatch of your order. In this case, You shall receive a full refund of the price paid for the products in accordance with our Returns Policy (see below Clause 13).<br><br>

Your right to cancel a Contract only applies to products that are returned in the same condition as You received them. You should also include all of the products instructions, documents and wrappings. Any product which is damaged or not in the same condition as You received it or which is worn simply beyond opening the product will not be refunded. You should therefore take reasonable care of the product(s) while they are in your possession.<br><br>

You will not have any right to cancel a Contract for the supply of any of the following products:<br><br>

1. Customized items<br>
2. Music CDs/DVDs; whose original wrapping has been removed<br><br>

Please take good and reasonable care of the products whilst in your possession, and where possible original boxes, instructions/documents and wrappings should be retained and used for the return of the products.<br><br>

Further details of this statutory right and an explanation on how to exercise it are set out in clause 13 of these Terms and are summarized on the Dispatch Confirmation.<br><br>

This provision does not affect your statutory rights as a consumer.<br><br>

DELIVERY<br><br>

Subject to availability, (see Clause 5 above), and unless there are any exceptional circumstances, we will endeavor to fulfill your order for product(s) listed in the Order Confirmation by the delivery date set out in the Order Confirmation or, if no estimated delivery date is specified, within 15 days of the date of the Order confirmation.<br><br>

Reasons for delay could include:<br><br>

1. Customization of products;<br>
2. Specialized items;<br>
3. Unforeseen circumstances; or<br>
4. Delivery area;<br><br>

If for any reason whatsoever, we cannot meet the delivery date, You will be kept informed thereof and offered a choice of either continuing with the purchase by setting an extended delivery time or cancelling the order with a full refund of the price paid. Please note however, that we do not deliver on Saturdays or Sundays.<br><br>

For the purpose of these Terms, the "delivery" shall be deemed to have occurred or the goods shall be deemed to "have been delivered" upon signing for receipt of the products at the agreed delivery address.<br><br>

UNABLE TO DELIVER<br><br>

If we are unable to deliver the goods after two attempts, we will try to find a safe secure place to leave your parcel. We will leave a note explaining where your parcel is and how You can rearrange delivery. If You are not going to be at the delivery location at the time agreed, please contact us to rearrange delivery for another mutually convenient day.<br><br>

RISK AND TITLE<br><br>

The Products will be at your risk from the time of delivery.<br><br>

Ownership of the products will only pass to You when we receive full payment of all sums due in respect of the products, including delivery charges, or upon delivery (as defined in clause 8 above), whichever is the later.<br><br>

PRICE AND PAYMENT<br><br>

The price of any products will be as quoted on our website from time to time, except in cases of obvious error. While we try to ensure that all prices on the website are accurate, errors may occur. If we discover an error in the price of products You have ordered, we will inform You as soon as possible and give You the option of reconfirming the order at the correct price or cancelling it. If we are unable to contact You, the order will be treated as cancelled and if You have already paid for the products You will receive a full refund.<br><br>

We are under no obligation to provide the product(s) to You at the incorrect (lower) price, even after we have sent You an Order Confirmation, if the pricing error is obvious and unmistakable and could have reasonably been recognized by You as a mispricing.<br><br>

Prices for our products may change from time to time, but changes will not affect any order which we have confirmed with an Order Confirmation.<br><br>

All prices include VAT (where applicable) at the applicable current rate chargeable in Ireland for the time being. However, if the rate of VAT changes between the date of your order and the date of delivery, we will adjust the VAT You pay, unless You have already paid for the products in full before the change in VAT takes effect.<br><br>

Prices are liable to change at any time, but changes will not affect orders in respect of which we have already sent You an Order Confirmation.<br><br>

Our site contains a large number of products and it is always possible that, despite our best efforts, some of the products listed on our site may be incorrectly priced. We will normally verify prices as part of our dispatch procedures so that, where a product's correct price is less than our stated price, we will charge the lower amount when dispatching the product to You. If a product's correct price is higher than the price stated on our site, we will normally, at our discretion, either contact You for instructions before dispatching the product, or reject your order and notify You of such rejection.<br><br>

Payment for all products must be by credit card, debit card, or PayPal. We accept payment with Visa, MasterCard, American Express, and PayPal. We will charge your credit card or debit card or PayPal account only when the products are dispatched.<br><br>

EXCHANGES/RETURNS POLICY<br><br>

Returns should be made within 30 days of the delivery of your order. We will refund the price You paid for the products in full (subject to certain exceptions detailed below) once we have received the returned products. Items should be returned new, unused and with all RUHAH and manufacturers tags and packaging. All accessories that came with the product must also be returned.<br><br>

To return a product, You should use the pre-paid return label enclosed with your order, attach it to the package and return the package to us via the carrier specified on the label.<br><br>

You will be responsible for the cost of returning the product to us unless You received a defective, damaged or incorrect item. In this circumstance, we will refund your reasonable postage costs of returning the item to us.<br><br>

Because You are a consumer, we are under a legal duty to supply products that are in conformity with this Contract. As a consumer, You have legal rights in relation to products that are faulty or not as described. These legal rights are not affected by your right of return and refund in this clause or anything else in these Terms.<br><br>

LIABILITY AND DISCLAIMERS<br><br>

We warrant to You that any product purchased from us through our site is of satisfactory quality and reasonably fit for all the purposes for which products of that kind are commonly supplied.<br><br>

Our liability for losses You suffer as a result of us breaking this agreement is strictly limited to the purchase price of the product You purchased.<br><br>

This does not include or limit in any way our liability:<br><br>

1. For death or personal injury caused by our negligence;<br>
2. Under section 2(3) of the Consumer Protection Act 1987;<br>
3. For fraud or fraudulent misrepresentation; or<br>
4. For any matter for which it would be illegal for us to exclude, or attempt to exclude, our liability.<br><br>

We are not responsible for indirect losses which happen as a side effect of the main loss or damage and which are not foreseeable by You and us, including but not limited to:<br><br>

1. loss of income or revenue<br>
2. loss of business<br>
3. loss of profits or contracts<br>
4. loss of anticipated savings<br>
5. loss of data, or<br>
6. waste of management or office time however arising and whether caused by tort (including negligence), breach of contract or otherwise;<br><br>

provided that this clause shall not prevent claims for loss of or damage to your tangible property that fall within the terms of the paragraph above or any other claims for direct financial loss that are not excluded by any of categories in this paragraph.<br><br>

WRITTEN COMMUNICATIONS<br><br>

Applicable laws require that some of the information or communications we send to You should be in writing. When using our site, You accept that communication with us will be mainly electronic. We will contact You by e-mail or provide You with information by posting notices on our website. For contractual purposes, You agree to this electronic means of communication and You acknowledge that all contracts, notices, information and other communications that we provide to You electronically comply with any legal requirement that such communications be in writing. This condition does not affect your statutory rights.<br><br>

NOTICES<br><br>

All notices given by You to us should be given to RUHAH at our contact address. We may give notice to You at either the e-mail or postal address You provide to us when placing an order, or in any of the ways specified above. Notice will be deemed received and properly served immediately when posted on our website, 24 hours after an e-mail is sent, or three days after the date of posting of any letter. In proving the service of any notice, it will be sufficient to prove, in the case of a letter, that such letter was properly addressed, stamped and placed in the post and, in the case of an e-mail, that such e-mail was sent to the specified e-mail address of the addressee.<br><br>

TRANSFER OF RIGHTS AND OBLIGATIONS<br><br>

The contract between You and us is binding on You and us and on our respective successors and assigns.<br><br>

You may not transfer, assign, charge or otherwise dispose of a Contract, or any of your rights or obligations arising under it, without our prior written consent.<br><br>

We may transfer, assign, charge, sub-contract or otherwise dispose of a Contract, or any of our rights or obligations arising under it, at any time during the term of the Contract.<br><br>

EVENTS OUTSIDE OUR CONTROL<br><br>

We will not be liable or responsible for any failure to perform, or delay in performance of, any of our obligations under a Contract that is caused by events outside our reasonable control (Force Majeure Event).<br><br>

A Force Majeure Event includes any act, event, non-happening, omission or accident beyond our reasonable control and includes in particular (without limitation) the following:<br><br>

1. Strikes, lock-outs or other industrial action.<br>
2. Civil commotion, riot, invasion, terrorist attack or threat of terrorist attack, war (whether declared or not) or threat or preparation for war.<br>
3. Fire, explosion, storm, flood, earthquake, subsidence, epidemic or other natural disaster.<br>
4. Impossibility of the use of railways, shipping, aircraft, motor transport or other means of public or private transport.<br>
5. Impossibility of the use of public or private telecommunications networks.<br>
6. The acts, decrees, legislation, regulations or restrictions of any government.<br>
7. Any shipping, postal or other relevant transport strike, failure or accidents.<br><br>

Our performance under any Contract is deemed to be suspended for the period that the Force Majeure Event continues, and we will have an extension of time for performance for the duration of that period. We will use our reasonable endeavors to bring the Force Majeure Event to a close or to find a solution by which our obligations under the Contract may be performed despite the Force Majeure Event.<br><br>

WAIVER<br><br>

If we fail, at any time during the term of a Contract, to insist upon strict performance of any of your obligations under the Contract or any of these terms and conditions, or if we fail to exercise any of the rights or remedies to which we are entitled under the Contract, this shall not constitute a waiver of such rights or remedies and shall not relieve You from compliance with such obligations.<br><br>

A waiver by us of any default shall not constitute a waiver of any subsequent default.<br><br>

No waiver by us of any of these Terms shall be effective unless it is expressly stated to be a waiver and is communicated to You in writing in accordance with the provisions of the paragraph on Notices above.<br><br>

SEVERABILITY<br><br>

If any of these Terms or any provisions of a Contract are determined by any competent authority to be invalid, unlawful or unenforceable to any extent, such term, condition or provision will to that extent be severed from the remaining terms, conditions and provisions which will continue to be valid to the fullest extent permitted by law.<br><br>

ENTIRE AGREEMENT<br><br>

These Terms and any document expressly referred to in them represent the entire agreement between You and us in relation to the subject matter of any Contract and supersede any prior agreement, understanding or arrangement between You and us, whether oral or in writing.<br><br>

Both You and us acknowledge that, in entering into this Contract, neither You nor us has relied on any representation, undertaking or promise given by the other or be implied from anything said or written in negotiations between You and us prior to such Contract except as expressly stated in these Terms.<br><br>

Neither You nor us shall have any remedy in respect of any untrue statement made by the other, whether orally or in writing, prior to the date of any Contract (unless such untrue statement was made fraudulently) and the other party´s only remedy shall be for breach of contract as provided in these Terms.<br><br>

OUR RIGHT TO VARY THESE TERMS<br><br>

We have the right to revise and amend these Terms from time to time.<br><br>

You will be subject to the policies, Terms in force at the time that You order products from us, unless any change to those policies, Terms or Privacy Statement is required to be made by law or governmental authority (in which case it will apply to orders previously placed by You).<br><br>

LAW AND JURISDICTION<br><br>

Contracts for the purchase of products through our site will be governed by Irish law.<br><br>

Any dispute arising from, or related to, such Contracts shall be subject to the non-exclusive jurisdiction of the Irish courts.<br><br>

If You are contracting as a consumer, nothing in this clause will affect your statutory rights as such.<br><br>

FEEDBACK<br><br>

We welcome your comments and feedback. Please send all feedback and comments to us via our web form.