{% extends "core/base.html" %}

{% block title %}Trending | RUHAH{% endblock %}

{% block page-header %}
  Trending
{% endblock %}

{% block content %}
  <table id="trending-table">
    <tr>
      <!--<th>Rank</th>-->
      <!-- <th>Rating</th> -->
      <!--<th>Outfit</th>-->
    </tr>

    {% for outfit in page_obj.object_list %}
      <tr>
        <!--<td>{{ outfit.rank }}</td>-->
        <!-- <td>{{ outfit.rating }}</td> -->
        <td>
          <img src="{{ outfit.image.url }}" class="outfit-image">
          <br>
          <span>
            {% if outfit.maker_id %}
              {% if outfit.maker_id.lifeform == 'human' %}
                <a href="{% url 'accounts:public_profile' outfit.maker_id.username %}">@{{ outfit.maker_id.username }}</a>
              {% else %}
                <a href="{% url 'accounts:public_profile' outfit.maker_id.username %}">@{{ outfit.maker_id.username }}</a>
              {% endif %}
            {% else %}
              @Unknown
            {% endif %}
          </span>
          <br><br>
        </td>
      </tr>
    {% endfor %}
  </table>

  {% if page_obj.has_other_pages %}
    <nav>
      {% for i in paginator.page_range %}
        {% if i == page_obj.number %}
          <span id="active-page-link">{{ i }}</span>
        {% else %}
          <a href="?page={{ i }}">{{ i }}</a>
        {% endif %}
      {% endfor %}
    </nav>
  {% endif %}

  <style>
    .outfit-image {
      max-width: 500px;
      max-height: 500px;
      width: auto;
      height: auto;
    }
  </style>
{% endblock %}
