@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200;300;400;500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Zetta:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Zetta:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap" rel="stylesheet');



/* LALALALAL to evala gia footer sticky */
html {
  height: 100%;
}

/* LALALALAL to evala gia footer sticky */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0 20px;
  font-family: 'Roboto Mono';
  font-weight: 400;
  font-size: 14px;

  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 15px;
}

a {
  text-decoration: none;
    color: black;
}

a:hover, a:active {
  /*text-decoration: underline;*/
}

h3, h4 {
    font-weight: 400;
}

h2 {
    font-weight: 200;
    font-family: 'Source Code Pro';
}

span.profile-username{
  font-family: 'Roboto Mono';
  font-weight: 200;
}

select, option, button, input, textarea {
    font-family: 'Roboto Mono';

    font-family: 'Montserrat', sans-serif;
}




button {
    background: none;       /* No background color */
    color: inherit;         /* Inherit text color from parent element */
    border: none;           /* No border */
    padding: 0;             /* Remove padding */
    font-family: inherit;   /* Inherit font from the body */
    font-size: inherit;     /* Inherit font size from the body */
    cursor: pointer;        /* Keeps the pointer cursor to indicate it's clickable */
}






/* Remove default styling for the select element */
select {
    background: none;
    border: 1px solid #808080;
    border-radius: 2px;
    color: inherit;
    font: inherit;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 0;
    content: '▼';
}

/* Remove the default styling for options */
select option {
    background: white; /* Make the background white or transparent */
    color: inherit;
    font: inherit;
    padding: 0;
}

/* Add custom styling to make the dropdown look like regular text */
select::after {
    content: '▼'; /* Add a custom arrow indicator */
    padding-left: 5px;
    padding-right: 5px;
    pointer-events: none;
    font-size: inherit;
    color: inherit;
}

/* Add padding for the arrow */
select {
    padding-left: 5px;
    padding-right: 5px;
    margin: 5px;
    background-color: transparent; /* Ensure background is transparent */
    position: relative;
}

/* Add custom arrow indicator */
select::after {
    content: '▼'; /* Custom arrow */
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none;
    font-size: inherit;
    color: inherit;
}

/* Remove default arrow in IE and Edge */
select::-ms-expand {
    display: none;
}







textarea {
    font-size: 14px;
}

/* Additional styling to enforce font on dropdown options */
select {
    font-family: 'Roboto Mono', monospace; /* Ensure select element itself is styled */
    font-family: 'Montserrat', sans-serif;
}

option {
    font-family: 'Roboto Mono', monospace !important; /* Use !important to enforce the font style */
    font-family: 'Montserrat', sans-serif !important;
}




a:visited {
    color: blue; /* Visited link color */
    color: black;
}

#header {
  height: 100%; /* LALALA dokimase 120px */
  display: flex;
  flex-direction: column;
  align-items: center;
}

#header-title {
  color: black;
  font-family: 'Rubik', sans-serif;  /* Add the font-family */
  font-family: 'Oswald', sans-serif;  /* Add the font-family */
  font-size: 2rem; /* LALALALA 2.5rem isws better*/
  font-weight: medium;
  font-weight: 200;
  line-height: 50%;
  letter-spacing: 0em;
  /*text-indent: 0.125em; /* diorthwnei to letter-spacing an exeis valei */
  margin-top: 25px;

  font-family: 'Michroma';
}

#main-menu {
  color: red;
}

.nav-link {
    /* kanto black an thes menu mavra */
   font-family: 'Poppins', sans-serif;
   font-weight: 200;
}

.logout-button {
    background: none;       /* No background color */
    color: blue;           /* Text color - set this to black as you requested */
    color: black;
    border: none;           /* No border */
    padding: 0;             /* Remove padding to align with other links */
    font-family: inherit;   /* Inherits font from the parent element */
    font-size: inherit;     /* Inherits font size from the parent element */
    cursor: pointer;        /* Keeps the pointer cursor to indicate it's clickable */
    /*text-decoration: underline;  /* No underline */
    /* font-weight: normal; */
}

#page-header {
  margin-bottom: 1.8rem;
  text-align: center;
}







#content {
  flex: 1; /* LALALALALA to evala gia to sticky footer */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ticket-form textarea {
    width: 100%;  /* Makes the textarea span the full width of its container */
    height: auto; /* Lets the height grow as per the rows specified */
    padding: 8px; /* Adds some padding inside the textarea */
    box-sizing: border-box; /* Includes padding and border in the element's total width and height */
}

.stripe-button-container {
    display: flex;
    justify-content: center;
    width: 100%; /* Ensures the container spans the full width */
}


#upload-preview {
  max-width: 300px;
}









/* home.html */

#outfits-container {
  display: flex;
  flex-direction: row;  /* Ensures images are next to each other in normal mode */
  justify-content: space-between;  /* Distributes space evenly between the items */
  align-items: center;  /* Align items vertically */
  padding: 0 20px;  /* Adds padding to the left and right */
  box-sizing: border-box;  /* Includes padding in the element's total width */
    /*background-color: red;*/
}

.outfit {
  text-align: center;
  flex: 1 1 0; /* Ensures flex items take up equal space */
}

.outfit-image {
  width: 100%;  /* Makes images responsive */
  max-width: 100%;  /* Ensures images do not overflow their container */
  height: auto;  /* Maintains aspect ratio */
  object-fit: contain;  /* Ensures the images fit inside their container without being cropped */
  display: block;
  margin: 0 auto;  /* Centers the image inside the outfit div */

  max-width: 500px;
  max-height: 500px;
}

#outfit-separator {
  display: flex;
  align-items: center;
  margin: 0 1rem;
}

#active-page-link {
  color: #808080;
}















/* TRENDING TABLE */
#trending-table, #trending-table td, #trending-table th {
  border: 1px solid black;
  border-collapse: collapse;
  margin-left: 0px;
  margin-right: 0px;
}

#trending-table {
    margin-left: 20px;
    margin-right: 20px;
}

#trending-table td {
   text-align: center;
}

/* STUDIO TABLE 1.1 + 2.1 */
#studio-tickets-table, #studio-tickets-table td, #studio-tickets-table th {
  border: 1px solid black;
  border-collapse: collapse;
  margin-left: 0px; /* EVALA STO BODY ALLA AN THELW VAZW KAI EDW EXTRA*/
  margin-right: 0px; /* EVALA STO BODY ALLA AN THELW VAZW KAI EDW EXTRA*/
}





/* Styles specifically for images within the table */
#studio-outfits-table img {
  width: 200px;
  height: 200px;
  object-fit: contain; /* Maintains aspect ratio without cropping */
}


footer {
  text-align: center;
  padding: 20px;
  font-family: 'Rubik', sans-serif; /* Consistency in font usage */
}




.mobile-message {
  display: none;
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  border: 1px solid #000;
  padding: 5px 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  font-family: 'Roboto Mono';
  font-size: 14px;
  z-index: 1000;
}


/*
.mobile-message {
  width: 100%;
  text-align: center;
  padding-top: 10px 0;
  font-family: 'Roboto Mono';
  font-size: 14px;
  color: #333;
  margin-top: 0px;
}
*/


















@media (max-width: 768px) {

    #trending-table img {
        width: 200px;
        height: 200px;
        object-fit: contain; /* Maintains aspect ratio without cropping */
        width: 100%; /* Makes images responsive */
        max-width: 100%; /* Allows the image to shrink in smaller views */
        height: auto; /* Adjusts height automatically to maintain aspect ratio */
    }

    #trending-table {
        margin-left: 10px;
        margin-right: 10px;
    }

    #outfits-container {
        flex-direction: column; /* Ensures images are stacked vertically */
        padding: 0 10px; /* keno deksia/aristera. aftomata exei ligo opote ase sto mhden*/
        margin-left: 10px;
        margin-right: 10px;
    }

    .outfit-image {
        width: 100%; /* Makes images responsive */
        max-width: 100%; /* Ensures images do not overflow their container */
        height: auto; /* Maintains aspect ratio */
        margin-bottom: 20px; /* Adds space between stacked images */
    }

    #studio-outfits-table {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }

    #studio-outfits-table td, #studio-outfits-table th {
        display: inline-block;
        width: 50%; /* Makes each cell take up half the width of the table */
        box-sizing: border-box; /* Includes padding and border in the element's total width */
    }

    #studio-outfits-table img {
        width: 200px;
        height: 200px;
        object-fit: contain; /* Maintains aspect ratio without cropping */
        width: 100%; /* Makes images responsive */
        max-width: 100%; /* Allows the image to shrink in smaller views */
        height: auto; /* Adjusts height automatically to maintain aspect ratio */
    }

    .logout-button {
        background: none;       /* No background color */
        color: blue;           /* Text color - set this to black as you requested */
        color: black;
        border: none;           /* No border */
        padding: 0;             /* Remove padding to align with other links */
        font-family: inherit;   /* Inherits font from the parent element */
        font-size: inherit;     /* Inherits font size from the parent element */
        cursor: pointer;        /* Keeps the pointer cursor to indicate it's clickable */
        /* text-decoration: underline;  */
        /* font-weight: normal; */
    }
}